// Common Style Start
.cart_main.oe_website_sale, 
.checkout_main.oe_website_sale, 
.extra_info_main.oe_website_sale,
.cart_payment_main.oe_website_sale,
.add_address_main  {

    .wizard {
        .progress-wizard{
            .no-decoration{
                &:first-child{
                    .progress-wizard-step{
                        .progress-wizard-bar{
                            border-top-left-radius: 13px;
                            border-bottom-left-radius: 13px;
                        }
                    }
                }
                &:last-child{
                    .progress-wizard-step{
                        .progress-wizard-bar{
                            border-top-right-radius: 10px;
                            border-bottom-right-radius: 10px;
                        }
                    }
                }
            }
            .progress-wizard-step {
                margin-bottom: 50px;
                @include media-breakpoint-down(sm) {
                    text-align: center !important;
                }
                .progress-wizard-bar{ 
                    height: 4px;
                    margin-right: 15px;
                }
                .progress-wizard-steplabel{
                    margin-bottom: 8px;
                    @media (max-width: 767.98px){
                        margin-left: 0 !important
                    }
                }
                .progress-wizard-step-icon{
                    i{
                        font-size: 35px;
                        color: #ABABAB;
                        line-height: 1;
                    }
                }
            }
        }
    }
    .checkout_autoformat,.s_website_form{
        .col-form-label {
            font-weight: 500 !important;
            margin-bottom: 10px !important;
        }
        input.form-control,select.form-select{
            border-radius: 0 !important;
            padding: 14px !important;
            box-shadow: none !important;
            &::placeholder{
                color: #b3b3b3 !important;
            }
        }
        select.form-control{
            border-radius: 0 !important;
        }
        input[type="file"]{
            padding: 0 12px !important;
            border-radius: 0px !important;
            border: 1px solid #b4b4b4;
            line-height: 54px;
        }
    }
    #o_cart_summary, .checkout-product-detail, .extra-product-detail, .payment-product-detail,.address-product-detail{
        .card{
            border: 1px solid #929292;
            border-radius: 0 
        }
        .card-body{
            margin-left: 15px;   
            margin-right: 15px; 
            margin-top: 10px;
            margin-bottom: 10px;  
        }
        #cart_products.table-product{
            thead{
                tr{
                    th{
                        font-size: 18px;
                        font-weight: 500;
                        &.td-qty{
                            text-align: center;
                        }
                    }
                }
            }
            tbody{
                tr{
                    td{
                        &.td-product_name{
                            strong{
                                font-size: 14px;
                                font-weight: 400;
                            }
                            >div{
                                line-height: 1.2 !important;
                            }
                        }
                        &.td-qty{
                            div{
                                font-size: 14px;
                                font-weight: 400;
                                text-align: center;
                            }
                        }
                        &.td-price{
                            span{
                                font-size: 14px;
                                font-weight: 400;
                            }
                        }
                    }
                    td:nth-of-type(even) {
                        --table-accent-bg: transparent;
                    }
                }
            }
        }
        #cart_total{
            table{
                tbody{
                    tr{
                        .text-xl-end{
                            text-align: right !important;
                        }
                        &#order_total_untaxed{
                            td{
                                font-size: 16px;
                            }
                        }
                        &#order_total_taxes{
                            td{
                                font-size: 16px;
                                padding-top: 4px;
                            }
                        }
                        &#order_total{
                            td{
                                strong{
                                    font-size: 18px;
                                    font-weight: 500;
                                }
                            }
                        }
                        &.oe_website_sale_gift_card{
                            td{
                                .alert{
                                    margin-top: 0 !important;
                                }
                            }
                        }
                        td:first-child{
                            text-align: left !important;
                        }
                    }
                }
            }
        }
        .coupon_form{
            form{
                .input-group{
                    input{
                        border-radius: 0;
                        font-size: 14px;
                    }
                    a.a-submit{
                        border-radius: 0;
                        margin-left: 8px !important;
                        font-size: 14px;
                        padding-left: 32px;
                        padding-right: 32px;
                    }
                }
            }
        }
    }
    .td-img img{
        border-radius: 0 !important;
    }
    .fa.fa-chevron-left{
        vertical-align: middle;
        font-size: 20px;
        &::before{
            content: "\ea62" !important;
            font-family: 'remixicon' !important;
            vertical-align: middle;
        }
    }
    .fa.fa-chevron-right{
        vertical-align: middle;
        font-size: 20px;
        &::before{
            content: "\ea6c" !important;
            font-family: 'remixicon' !important;
            vertical-align: middle;
        }
    }
    .form-control,.form-select,.btn-secondary,.btn-primary{
        &:focus {
            box-shadow: none !important;
        }
    }
}


.oe_portal_address{
    .checkout_autoformat{
        .col-form-label {
            font-weight: 500 !important;
            margin-bottom: 10px !important;
        }
        input.form-control,select.form-control{
            border-radius: 0 !important;
            padding: 14px !important;
            box-shadow: none !important;
            &::placeholder{
                color: #b3b3b3 !important;
            }
        }
        input[type="file"]{
            padding: 0 12px !important;
            border-radius: 0px !important;
            border: 1px solid #b4b4b4;
            line-height: 54px;
        }
    }
}


// Common Style End
.bill-address{
    .a-submit-loading,.btn-secondary{
        border-radius: 0 !important;
    }
    .o_page_header {
        font-size: 28px !important;
    }
}
.checkout_main,.extra_info_main,.cart_payment_main{
	@media (max-width: 767.98px) {
		margin-bottom: 60px !important;
	}
}
.cart_main.oe_website_sale{
    .wizard {
        .progress-wizard{
            #wizard-step10 {
                .progress-wizard-bar{
                    background-color: theme-color('primary');
                }
                .progress-wizard-step-icon{
                    i{
                        color: theme-color('secondary');
                    }
                }
            }
        }
    }
    .oe_cart{
        #cart_products.table-product{
            thead{
                tr{
                    th{
                        font-size: 18px;
                        font-weight: 400;
                        // &.td-img{
                        //     padding-left: 48px;
                        // }
                        @include media-breakpoint-down(sm) {
                            font-size: 18px;
                        }
                    }
                }
            }
            tbody{
                tr{
                    td{
                        &.td-product_name{
                            a{
                                text-decoration: none;
                                font-size: 16px;
                                font-weight: 300;
                            }
                            small{
                                span{
                                    font-size: 12px;
                                }
                            }
                            >div{
                                line-height: 1.2 !important;
                            }
                            @include media-breakpoint-down(sm) {
                                a{
                                    font-size: 14px;
                                }
                            }
                        }
                        &.td-qty{
                            .css_quantity {
                                border: 1px solid #707070;
                                align-items: center;
                                display: flex;
                                justify-content: space-around !important;
                                @include media-breakpoint-down(sm) {
                                    width: fit-content;
                                }
                                input{
                                    height: 35px !important;
                                    margin-left: 1px !important;
                                }
                                input,
                                .js_add_cart_json {
                                    border: none;
                                    box-shadow: none;
                                    .fa-plus {
                                        font-size: 14px !important;
                                        line-height: 35px;
                                        vertical-align: middle;
                                        &::before {
                                            font-family: 'remixicon' !important;
                                            content: "\ea11" !important;
                                        }
                                    }
                        
                                    .fa-minus {
                                        font-size: 14px !important;
                                        line-height: 35px;
                                        vertical-align: middle;
                                        &::before {
                                            font-family: 'remixicon' !important;
                                            content: "\f0fb" !important;
                                        }
                                    }
                                }
                        
                                .js_add_cart_json {
                                    line-height: 35px;
                                    padding: 0;
                                    color: #707070;
                                    width: 20px;
                                }
                            }
                        }
                        &.td-price{
                            span{
                                font-size: 14px;
                            }
                            del{
                                font-size: 14px;
                                margin-right: 0 !important;
                            }
                        }
                        &.td-action{
                            a.js_delete_product{
                                i{
                                    font-size: 18px;
                                }
                            }
                        }
                    }
                    td:nth-of-type(even) {
                        --table-accent-bg: transparent;
                    }
                }
            }
        }

        #suggested_products{
            tbody{
                tr{
                    td{
                        &.td-product_name{
                            a{
                                text-decoration: none;
                                font-weight: 300;
                            }
                            div.text-muted {
                                font-size: 14px;
                            }
                            >div{
                                line-height: 1.2 !important;
                            }
                        }
                        &.w-25.text-center{
                            a{
                                text-decoration: none;
                                font-weight: 300;
                                font-size: 18px;
                                @include media-breakpoint-down(sm) {
                                    font-size: 16px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    #o_cart_summary{
        a.float-right{
            width: 100%;
            padding-top: 14px;
            padding-bottom: 14px;
            border-radius: 0;
            font-size: 16px;
            font-weight: 500;
        }
    }
  
    a.continue-btn,
    a.float-right{
        border-radius: 0;
    }
    a.lpopen{
        border-radius: 0;
    }
    
}

.checkout_main.oe_website_sale,.add_address_main{
    .wizard {
        .progress-wizard{
            #wizard-step10, #wizard-step20 {
                .progress-wizard-bar{
                    background-color: theme-color('primary');
                }
                .progress-wizard-step-icon{
                    i{
                        color: theme-color('secondary');
                    }
                }
            }
        }
    }
    .store {
        .row{
            #store_menus{
                min-height: 350px;
            }
            .switch {
                > label{
                    margin-left: 60px;
                    margin-bottom: 0;
                    position: relative;
                    //z-index: -1;
                    line-height: 25px;
                }
                label.text_delivery,
                label.text_pickup{
                    font-size: 14px;
                }
                position: relative;
                display: inline-block;
                width: 50px;
                height: 25px;
                color: inherit;
                margin-bottom: 0.5rem;
            }
        
            /* Hide default HTML checkbox */
            .switch input {
              opacity: 0;
              width: 0;
              height: 0;
              position: absolute;
            }
        
            /* The slider */
            .slider {
              position: absolute;
              cursor: pointer;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              background-color: #ccc;
              -webkit-transition: .4s;
              transition: .4s;
            }
        
            .slider:before {
              position: absolute;
              content: "";
              height: 19px;
              width: 19px;
              left: 4px;
              bottom: 3px;
              background-color: white;
              -webkit-transition: .4s;
              transition: .4s;
            }
        
            input:checked + .slider {
              background-color: #2196F3;
            }
        
            input:focus + .slider {
              box-shadow: 0 0 1px #2196F3;
            }
        
            input:checked + .slider:before {
              -webkit-transform: translateX(22px);
              -ms-transform: translateX(22px);
              transform: translateX(22px);
            }
        
            /* Rounded sliders */
            .slider.round {
              border-radius: 34px;
            }
        
            .slider.round:before {
              border-radius: 50%;
            }
        }
        .store_data{
            .pickup_info{
                .store-data{
                    label.store-label{
                        cursor: pointer;
                        width: 100%;
                        height: 100%;
                        border: 1px solid;
                        border-color: inherit;
                        border-radius: 5px;
    
                        .store-content{
                            .store-details{
                                .store-name{
                                    span{
                                        font-size: 18px;
                                        font-weight: 500;
                                    }
                                }
                                .store-address{
                                    margin-top: 5px;
                                    p{
                                        margin-bottom: 0;
                                    }
                                }
                            }
                            .store-contact{
                                margin-top: 5px;
                                .contact-phone, .contact-email, .contact-location{
                                    a{
                                        color: #ffffff;
                                        transition: 0.3s;
                                        span{
                                            display: inline-block;
                                            border: 1px solid black;
                                            background-color: white;
                                            color: black;
                                            width: 25px;
                                            height: 25px;
                                            line-height: 25px;
                                            text-align: center;
                                            // border-radius: 5px;
                                            font-size: 14px;
                                            transition: 0.3s;
                                        }
                                    }
                                }
                                > div:not(:first-child){
                                    margin-left: 7px;
                                }
                            }
                        }
                    }
                    input[name=pickup_address]:checked{
                        & + .store-label{
                            border-color: theme-color('primary');
                            background-color: rgba(theme-color('primary'), 0.08);
                        }
                    }
                }
            }
        }
    }
    .oe_cart, .bill-check{
        .all_shipping .one_kanban form a.a-submit{
            border-radius: 0;
        }
        .d-flex.justify-content-between a.btn{
            border-radius: 0;
        }
        .o_page_header{
            font-size: 22px;
            font-weight: 500;
        }
    }
    .checkout-product-detail{
        .card{
            width: fit-content;
        }
    }
}

.extra_info_main.oe_website_sale{
    .wizard {
        .progress-wizard{
            #wizard-step10, #wizard-step20, #wizard-step30 {
                .progress-wizard-bar{
                    background-color: theme-color('primary');
                }
                .progress-wizard-step-icon{
                    i{
                        color: theme-color('secondary');
                    }
                }
            }
        }
    }
    .s_website_form input[type="file"]{
        padding: 0 !important;
    }
    .oe_cart{
        section.s_website_form{
            .s_website_form_rows{
                label.col-form-label{
                    span.s_website_form_label_content{
                        font-weight: 400;
                    }
                }
                .col-sm{
                    input, textarea{
                        border-radius: 0;
                    }
                }
                .s_website_form_no_submit_options{
                    .btn{
                        border-radius: 0;
                    }
                }
            }
        }
    }
}

.oe_website_sale .table-striped tbody tr:nth-of-type(even) {
    background-color: transparent !important;
}

tr:nth-of-type(odd) {
    background-color: transparent !important;
}

.cart_payment_main.oe_website_sale{
    .wizard {
        #wizard-step10, #wizard-step20, #wizard-step30, #wizard-step40 {
            .progress-wizard-bar{
                background-color: theme-color('primary');
            }
            .progress-wizard-step-icon{
                i{
                    color: theme-color('secondary');
                }
            }
        }
    }
    #payment_method{
        form{
            .float-left, .float-right{
                .btn{
                    border-radius: 0;
                }
            }
        }
    }
    .oe_cart.bill-payment{
        .shipping_and_billing_main_class{
            .billing_and_shipping{
                font-size: 22px;
                font-weight: 500;
            }
            .card{
                margin-top: 10px;
                .card-body{
                    display: flex;
                    justify-content: space-between;
                    flex-direction: row-reverse;
                }
            }
        }
        #payment_method{
            margin-top: 30px !important;
            h3{
                font-size: 22px;
                font-weight: 500;
                margin-bottom: 10px !important;
            }
            .o_payment_form{
                .o_accept_tc_button{
                    display: flex;
                    align-items: center;
                    input{
                        margin-right: 8px;
                    }
                }
            }
        }
       
        
    }
    .payment-product-detail{
        .card{
            margin-bottom: 10px !important;
            .card-body{
                margin: 0 !important;
                line-height: 32px !important; 
            }
        }
    }
}

