@font-face{
    font-family:"Montserrat";
    src:url("/theme_snazzy/static/src/fonts/montserrat/montserrat.ttf") format("truetype");
}

$primarybgcolor: #252525;
$primarytextcolor: #ffffff;

$secondarybgcolor: #ECECEC;
$secondarytextcolor: #8E8E8E;

$nonactiveColor: #cccccc;
$textColor: #8E8E8E;

$modalbgcolor: #f7f7f7;
$px20: 20px;
$px25: 25px;
$btnpadding: 10px;

$headingFontsize: 22px;
$textfontsize: 14px;
$modalfontfamily: 'Montserrat';
$modalBorderRadius: 5px;



#s_dynamic_config_modal {
    width: 100% !important;
    max-width: none !important;
    height: 100% !important;
    margin: 0 !important;
    .modal-content{
        max-height: 100vh !important;
        height: 100vh;
    }
    // add btn
    .preview-container {
        .product_box {
            .snazzy-pro-label-disc {
                background-color: var(--o-cc1-btn-primary);
                color: white;
            }

            .deal_of_the_day_countdown{
                background-color: black !important;
                color: white !important;
            }

            &.style_1:not(.list_style),
            &.style_2:not(.list_style),
            &.style_3:not(.list_style),
            &.style_4:not(.list_style),
            &.style_5:not(.list_style),
            &.style_6:not(.list_style),
            &.style_7:not(.list_style){
                .shop-cart, .a-submit ,.btn-cart{
                    background-color: var(--o-cc1-btn-primary);
                    color: var(--o-cc1-text);
                    span{
                        color: white;
                    }
                }
            }

           
            &.style_1:not(.list_style){
                .product_wsale_btns{
                    .shop-cart, .a-submit ,.btn-cart{
                        &:hover{
                            span{
                                color: white !important;
                            }
                        }
                        span{
                            color: var(--o-cc1-text) !important;
                        }
                    }
                }
            }
            
            &.style_5:not(.list_style) {
                .product_wsale_btns {
                    .o_add_wishlist, .quick_btn, .o_add_compare, .similar_btn{
                        &.btn:hover {
                            background-color: var(--o-cc1-btn-primary) !important;
                            color: var(--o-cc1-text) !important;
                            span{
                                color: white;
                            }
                        }
                    }
                }
            }

            &.style_1.list_style,
            &.style_2.list_style,
            &.style_3.list_style{
                .product_wsale_btns{
                    .btn:hover{
                        background-color: var(--o-cc1-btn-primary) !important;
                        color: var(--o-cc1-text) !important;
                        span{
                            color: white;
                        }
                    }
                }
            }

        }

        .brand_box{
            &.style_5{
                .brand_info{
                    background-color: var(--o-cc1-btn-primary) !important;
                }
            }
        }

        .category_box{
            &.style_7 {
                .name_item {
                    .item_badge {
                        background-color: var(--o-cc1-btn-primary) !important;
                        color: white !important;
                    }
                }
            }
            &.style_9 {
                .parent_categ {
                    a{
                        background-color: var(--o-cc1-btn-primary) !important;
                        color: white;
                    }
                }
            }
            &.style_10 {
                .shop_now_btn{
                    .btn{
                        background-color: var(--o-cc1-btn-primary) !important;
                        color: white;
                        border-radius: 0;
                        border-color: transparent;
                    }
                }
            }
        }

        #configurator-slider{
            .owl-nav{
                button{
                    background-color: var(--o-cc1-btn-primary) !important;
                    border-color: var(--o-cc2-btn-primary-border) !important;
                    &.owl-prev, .owl-next {    
                        .fa{
                            color: #fff !important;
                        }
                    }
                }
            }
            &:hover{
                .owl-nav{
                    button{
                        &:hover{
                            background-color: #fff !important;
                            border-color: #e6e6e6 !important;
                            .fa{
                                color: $textColor !important;
                            }
                        }
                    }
                }
            }
        }



    }
    .modal-content {
        // Left Panel Start
        .config-heading {
            background-color: white;
            margin: $px25;
            padding: $px25;
            border-radius: $modalBorderRadius;
            h2 {
                font-family: $modalfontfamily;
                font-size: $headingFontsize;
                color: $textColor;
                font-weight: bold;
            }
        }
        .preview-container {
            background-color: white;
            margin: $px25;
            padding: $px25;
            border-radius: $modalBorderRadius;
        }
        // Left Panel End

        // Right Panel Start
        .setting-wrapper {
            .save-discard {
                .discard_config, .save_config {
                    padding: $btnpadding;
                    font-size: $textfontsize;
                    font-family: $modalfontfamily;
                    border-radius: $modalBorderRadius;
                    text-align: center;
                    cursor: pointer;
                }
                .discard_config {
                    background-color: $secondarybgcolor;
                    color: $secondarytextcolor;
                }
                .save_config {
                    background-color: $primarybgcolor;
                    color: $primarytextcolor;
                }
                gap: 10px;
                padding: $px20;
                border-bottom: 2px solid $modalbgcolor;
            }
            .tab-section {

                .nav_item_right{
                    position: relative;
                    padding-left: 9px;
                    padding-right: 11px;
                    pointer-events: none;
                }
                .nav_item_right{
                    background-color: $secondarybgcolor;
                    a.nav-link{
                        margin-left: 8px;
                        color: #252525;
                        border: unset;
                        position: relative;
                    }

                    a.nav-link.active{
                        background-color: transparent;
                        color: $primarytextcolor;
                    }

                    &.li_bg_color{
                        background-color: $primarybgcolor;
                    }

                }

                .nav_item_right:before,
                .nav_item_right:after{ 
                    content:"";
                    position: absolute;
                    top: 5px; 
                    width: 23px; 
                    height: 23px;
                    background: inherit; 
                    border: inherit;
                    border-left-color: transparent;
                    border-bottom-color: transparent; 
                    border-radius: 0px 4px 0px 0px;
                    -webkit-border-radius: 0px 4px 0px 0px;
                    -moz-border-radius: 0px 4px 0px 0px;

                    transform: rotate(45deg); 
                    -webkit-transform: rotate(45deg);
                    -moz-transform: rotate(45deg);
                    -o-transform: rotate(45deg);
                    -ms-transform: rotate(45deg);
                }
                
                .nav_item_right:before{ 
                    left: -11px;
                    background-color: white;
                }
                .nav_item_right:after{ 
                    right: -11px;
                    z-index: 1;
                }

                .nav-pills {
                    .nav-link {
                        border: 1px solid $secondarybgcolor;
                        color: $secondarytextcolor;
                        background-color: transparent;
                        padding: $btnpadding;
                        font-size: 12px !important;
                        font-family: $modalfontfamily;
                        border-radius: $modalBorderRadius;
                        text-align: center;
                        &.active {
                            background-color: $primarybgcolor;
                            border-color: $primarybgcolor;
                            color: $primarytextcolor;
                        }
                        &:before{
                            right: -11px;
                            border-left-color: #dee2e6 !important;
                        }
                    }
                }

                .tab-content {
                    .tab-pane {
                        input[name="config_type"]:checked + label {
                            background-color: $primarybgcolor;
                            color: $primarytextcolor;
                            border-color: $primarybgcolor;
                        }
                        .searched_results {
                            z-index: 10;
                            .item-image {
                                img {
                                    max-width: 64px;
                                }
                                .o_record_cover_container {
                                    .o_record_cover_component {
                                        position: unset;
                                        background-size: cover;
                                        background-position: center;
                                        background-repeat: no-repeat;
                                        height: 100%;
                                    }
                                    width: 50px;
                                    height: 50px !important;
                                }
                            }
                            max-height: 365px;

                            .item-name{
                                h6,.product_price >span{
                                   font-size: 13px !important;
                                   font-weight: normal !important;
                                }
                            }
                        }
                        .selected_item {
                            .item-image {
                                img {
                                    max-width: 64px;
                                }
                                .o_record_cover_container {
                                    .o_record_cover_component {
                                        position: unset;
                                        background-size: cover;
                                        background-position: center;
                                        background-repeat: no-repeat;
                                        height: 100%;
                                    }
                                    width: 75px;
                                    height: 75px !important;
                                }
                                background-color: var(--product-bgcolor);
                            }
                            
                            .item-name {
                                .product_name {
                                    font-size: 12px;
                                    line-height: 16px;
                                    font-weight: 600;
                                    margin-bottom: 0;
                                    color: #1b1b1b;
                                }
                                .product_price {
                                    .oe_price {
                                        color: #777777;
                                    }
                                    .oe_default_price.text-danger {
                                        color: #e02626;
                                    }
                                    h3,.h5,h4{
                                        font-size: 12px;
                                        line-height: 16px;
                                        margin: 0;
                                    }
                                }
                                .edit_product, .remove_product {
                                    .edit-btn, .remove-btn {
                                        padding: 0;
                                        height: 20px;
                                        width: 20px;
                                        line-height: 20px;
                                        text-align: center;
                                        border: 0 !important;
                                        border-radius: 5px;
                                        display: block;
                                        font-size: 11px;
                                    }
                                    .edit-btn {
                                        background-color: $secondarybgcolor !important;
                                        color: $secondarytextcolor !important;
                                    }

                                    .remove-btn {
                                        background-color: $primarybgcolor !important;
                                        color: $primarytextcolor !important;
                                    }
                                }
                                .stock-badge {
                                    .in-stock-badge {
                                        display: inline-block;
                                        font-size: 10px;
                                        background-color: rgba(88,243,64,0.30);
                                        color: #3BB237;
                                        padding: 0px 5px;
                                        border-radius: 20px;
                                    }
                                    .out-stock-badge {
                                        display: inline-block;
                                        font-size: 10px;
                                        background-color: rgba(243,64,64,0.25);
                                        color: #F47676;
                                        padding: 0px 5px;
                                        border-radius: 20px;
                                    }
                                }
                            }
                            gap: 10px;
                            padding: 10px;
                            border-radius: 5px;
                            box-shadow: 0 0 8px rgba(0,0,0,0.10) !important;
                        }
                        .custom_domain_selector {
                            position: relative;
                            margin-bottom: 60px !important;
                            .condition_match_label {
                                position: absolute;
                                background-color: $primarybgcolor;
                                color: $primarytextcolor;
                                text-align: center;
                                padding: 5px 20px;
                                border-radius: 5px;
                                bottom: -44px;
                                left: 50%;
                                transform: translateX(-50%);
                                z-index: 2;
                            }
                            &:after {
                                content: "";
                                width: 1px;
                                height: 60px;
                                position: absolute;
                                border: 1px dashed $primarybgcolor;
                                left: 50%;
                                transform: translateX(-50%);
                                bottom: -60px;
                                z-index: 1;
                                opacity: 0.3;
                            }
                        }
                        .domain-div {
                            margin-bottom: 10px;
                            .domain_record_list {
                                width: calc(100% - 2*0.5rem);
                                background-color: white;
                                padding: 5px 0;
                                border-radius: 5px;
                                p {
                                    padding: 0 10px;
                                    cursor: pointer;
                                    transition: 0.1s;
                                    &:hover {
                                        background-color: $primarybgcolor;
                                        color: $primarytextcolor;
                                    }
                                }
                            }
                        }
                        .item_limit, .record_limit {
                            .slider {
                                -webkit-appearance: none;
                                width: 100%;
                                height: 10px;
                                border-radius: 20px;
                                background: #8E8E8E;
                                outline: none;
                                opacity: 0.7;
                                -webkit-transition: .2s;
                                transition: opacity .2s;
                            }
                              
                            .slider:hover {
                                opacity: 1;
                            }
                              
                            .slider::-webkit-slider-thumb {
                                -webkit-appearance: none;
                                appearance: none;
                                width: 20px;
                                height: 20px;
                                border-radius: 50%;
                                background: #1b1b1b;
                                cursor: pointer;
                            }
                              
                            .slider::-moz-range-thumb {
                                width: 25px;
                                height: 25px;
                                border-radius: 50%;
                                background: #04AA6D;
                                cursor: pointer;
                            }
                        }
                        .display_options {
                            .btn {
                                width: calc(50% - (0.5rem/2));
                                font-size: 12px;
                                text-transform: capitalize;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                gap: 5px;
                                background-color: transparent;
                                border-color: $secondarybgcolor;
                                color: $secondarytextcolor;
                                &.on {
                                    background-color: $primarybgcolor;
                                    border-color: $primarybgcolor;
                                    color: $primarytextcolor;
                                }
                            }
                        }
                        .edit_custom_domain, .delete_custom_domain, .add_new_rule, .apply_rule, .add_rule{
                            &.btn{
                                background-color: $primarybgcolor;
                                border-color: $primarybgcolor;
                                color: $primarytextcolor;
                            }
                        }
                        margin-top: $px20;
                    }
                    #config_type_selection{
                        .form-check-label{
                            border-radius: 7px !important;
                            cursor: pointer;
                            font-size: 13px;
                        }
                        .snazzy-gutter-y{
                            >div{
                                padding: 0 10px 10px 0px !important;
                            }
                        }
            
                    }
                    #record_selection,#design_selection{
                        .form-label{
                            font-size: 13px !important;
                            margin: 0 !important;
                        }
                        .form-control{
                            font-size: 13px !important;
                            box-shadow: none !important;
                            height: unset !important;
                            max-width: 100% !important;
                        }
                    }

                }
                padding: $px20;
            }
            .next-back {
                .back_tab, .next_tab {
                    padding: $btnpadding;
                    font-size: $textfontsize;
                    font-family: $modalfontfamily;
                    border-radius: $modalBorderRadius;
                    text-align: center;
                    cursor: pointer;
                    
                }
                .back_tab{
                    background-color: $secondarybgcolor;
                    color: $secondarytextcolor;
                }
                .next_tab {
                    background-color: $primarybgcolor;
                    color: $primarytextcolor;
                }
                padding: 20px;
                border-top: 2px solid rgb(247, 247, 247);
            }
            margin-top: $px25;
            margin-bottom: $px25;
            background-color: white;
            height: calc(100% - 50px);
        }
        // Right Panel End
        background-color: $modalbgcolor;
    }
}