.oe_website_login_container{
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding:100px 0;
	.oe_login_form, .oe_signup_form, .oe_reset_password_form{
		max-width: 400px !important;
		padding: 50px;
    	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
    	background-color:#fff;
	}

	.oe_login_form, .oe_signup_form, .oe_reset_password_form{
		label{
			color: theme-color('secondary');
		}
		.oe_login_buttons{
			button[type="submit"].btn-primary {
				&:hover{
					background-color:rgba(theme-color('primary'), 0.80);
				}
				&:focus{
					background-color: transparent;
    				color: theme-color('primary');
					box-shadow: none;
				}
			}
		}
	}
	a:hover{
		text-decoration:none;
	}
	.btn:hover{
		text-decoration:none;
	}
	@media(max-width:767px){
		padding: 20px !important;
		background-size: unset !important;
	}
	@media (min-width: 768px) and (max-width: 991.98px) {
		padding: 30px 0 !important;
	}

	.oe_login_form{
		.login_email{
			input{
				color: #6a6773;
				border-color: 2px solid #d8d6de;
				box-shadow: none;
			}
			label{
				color: #b9b9c3;
				font-weight: 500;
			}
		}
		.login_password{
			.field-icon {
				float: right;
				margin-right: 10px;
				margin-top: -27px;
				position: relative;
				z-index: 2;
				color: #b9b9c3;
			}
			input{
				color: #6a6773;
				border-color: 2px solid #d8d6de;
				box-shadow: none;
			}
			label{
				color: #b9b9c3;
				font-weight: 500;
			}
			input[type="password"] ~ span[toggle="#text"]{
				display: block !important;
			}
			input[type="text"] ~ span[toggle="#password"]{
				display: block !important;
			}
		}
		.forgot_password{
			color: #707070;
			font-size: 12px;
			font-weight: 400;
			padding-top: 5px;
			padding-bottom: 5px;
			a{
				outline: none;				
			}
		}
		p.alert.alert-danger{
			color: #F96767;
			background-color: #FCD3D3;
			border-color: #FCD3D3;
			text-align: center;
			padding-top: 8px;
			padding-bottom: 8px;
			font-size: 14px;
		}
		.sign_up{
			color: #707070;
			font-size: 12px;
			font-weight: 400;
			padding-top: 12px;
			padding-bottom: 0;
			a{
				color: theme-color('primary');
				margin-left: 4px;
				box-shadow: none;
				outline: none;
			}
			button{
				font-size: 12px;
			}
		}
		.o_login_auth{
			em.text-center{
				margin-bottom: 9px !important;
			}
		}
	}

	.oe_reset_password_form{
		.login_email{
			input{
				color: #6a6773;
				border-color: 2px solid #d8d6de;
				box-shadow: none;
			}
			label{
				color: #b9b9c3;
				font-weight: 500;
			}
		}
		p.alert.alert-danger{
			color: #F96767;
			background-color: #FCD3D3;
			border-color: #FCD3D3;
			text-align: center;
			padding-top: 8px;
			padding-bottom: 8px;
			font-size: 14px;
		}
		.oe_login_buttons{
			.small a {
				color: #707070;
				font-size: 12px;
				font-weight: 400;
				padding-top: 5px;
				padding-bottom: 5px;
			}
		}
	}

	.oe_signup_form{
		.signup_email, .signup_name{
			input{
				color: #6a6773;
				border-color: 2px solid #d8d6de;
				box-shadow: none;
			}
			label{
				color: #b9b9c3;
				font-weight: 500;
			}
		}
		.signup_password, .signup_confirm_password{
			input{
				color: #6a6773;
				border-color: 2px solid #d8d6de;
				box-shadow: none;
			}
			label{
				color: #b9b9c3;
				font-weight: 500;
			}
		}
		p.alert.alert-danger{
			color: #F96767;
			background-color: #FCD3D3;
			border-color: #FCD3D3;
			text-align: center;
			padding-top: 8px;
			padding-bottom: 8px;
			font-size: 14px;
		}
		// .or_text{
		// 	padding-top: 5px;
		// 	padding-bottom: 5px;
		// 	display: flex;
		// 	align-items: center;
		// 	justify-content: center;
		// 	.sign_in_with_text{
		// 		color: #707070;
		// 		font-size: 12px;
		// 		font-weight: 400;
		// 	}
		// 	hr{
		// 		width: 42%;
		// 	}
		// }
		.sign_up{
			color: #707070;
			font-size: 12px;
			font-weight: 400;
			padding-top: 12px;
			padding-bottom: 0;
			a{
				color: theme-color('primary');
				margin-left: 4px;
				box-shadow: none;
				outline: none;
			}
		}
		.o_login_auth{
			em.text-center{
				margin-bottom: 9px !important;
			}
		}
	}
}

@mixin transition3{
	transition: 0.3s;
	--webkit-transition: 0.3s;
}
header .nav-link.lpopen, .lpcreatebtn{
	cursor: pointer;
}

.login-modal{
	&.show{
	    backdrop-filter: blur(3px);
	    background-color: rgba(0, 0, 0, 0.3);
	}
	.modal-dialog{
		max-width: 450px !important;
		> .modal-content{
			border: 0 !important;
			border-radius: 0 !important;
			> .modal-body{
				.login_part{
				    display: flex;
				    align-items: center;
				    width: 100%;
				}
				.nav-tabs{
					a{
						color: theme-color('primary');
						@include transition3;

						&:hover{
							color: theme-color('secondary');
							text-decoration: none;
						}
					}
				}
				.nav-tab-content{
					.tab-pane{
						@include transition3;
						.oe_login_buttons{
							.lploginbtn,.lpresetpass,.lpsignupbtn,.respass{
								width: 100%;
								height: 45px;
							}
						}
						&:not(.active){
							display: none;
						}
						.form-floating{
							input{
								color: #6a6773;
								border-color: 2px solid #d8d6de;
								box-shadow: none;
							}
							label{
								color: #b9b9c3;
								font-weight: 500;
							}
						}
						.field-password{
							.field-icon {
								float: right;
								margin-right: 10px;
								margin-top: -27px;
								position: relative;
								z-index: 2;
								color: #b9b9c3;
							}
							input[type="password"] ~ span[toggle="#text"]{
								display: block !important;
							}
							input[type="text"] ~ span[toggle="#password"]{
								display: block !important;
							}
						}
						.forgot_password{
							font-size: 13px;
							padding-top: 5px;
							a{
								outline: none;
								color: #707070;				
							}
						}
						.snazzy_sign_up,.lpalreadyuser{
							color: #707070;
							font-size: 13px;
							padding-top: 12px;
						}
						.oe_login_buttons{
							.o_login_auth{
								.o_auth_oauth_providers{
									text-align: center !important;
									a{
										border: 0;
										font-size: 14px !important; 
									    display: flex;
    									align-items: center;

    									> i{
    										margin-right: 15px;
    									}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}