.user_img {
    margin-top: 3px;
    padding: 0px 8px;
    margin-right: -6px;
    
    img {
    	height: 30px;
    	width: 30px;
    }
}
.sale_tbody{
    .form-control{
        margin-left: 10px;
        margin-left: 10px;
        width: 16%;
        padding-right: 0.1rem;
        border-radius: 0px;
    }

    .img-fluid {
        height: 179px;
    }
	.oe_price_h4,.reorder-product-price,.reorder-product-quantity{
		font-size: 16px;
		margin-bottom: 0;
	}
    .modal-header{
        padding-top: 0.6rem;
        padding-bottom: 0.6rem;
    }

    .col-md-5{
        padding-left: 3rem;
    }

    h5{
   		margin-bottom: 0rem;
    }

}
.o_portal_wrap{
	.o_portal_my_doc_table{
		&.biz_table{
			.btn-portal-sale {
				float: right;
			    padding: 2px 9px;
			}
			.btn-portal-sale[aria-expanded="true"] i::before{
			   content: '\f068' !important;
			}
			td{
				max-width: unset;
			}
			.reorder_table{
				.row{
					margin-top: 0.5rem;
				}

				table{
					td{
						max-width: 10rem;
					}
					th{
					    max-width: unset;
						overflow: unset;
					}
				}
				.last_purches{
				    margin-right: 0.5rem;
				}
			}
		}
	}
}
.biz_table{
	tr{
		th{
			border-top: 0;
		    border-color: #d6d6d6 !important;
	        padding: 5px 15px;
            font-weight: 500;
		}
		td{
		    font-size: 13px;
    		padding: 15px;
    		border-color: #d6d6d6 !important;
		}
	}
	thead{
		tr{
			line-height: 30px;
		}
	}
	tbody{
		tr{
			line-height: 35px;
		}
	}
}

#wrapwrap.o_portal {
    background-color: #ffffff !important;
	.o_portal{
		.row{
			// border: 1px solid #b4b4b4 !important;
			border-radius: 0 !important;
		}
		.o_portal_submenu{
			padding: 15px !important;
		}
	}
}
.o_portal_my_home{
	h3{
		font-size: 22px;
		margin-bottom: 26px;
		margin-top: 26px;
	}
	.biz_portal{
		width: 100%;
		display: inline-block;
		margin-left: -10px;
		margin-right: -10px;
		.list-group-item {
			width: calc(25% - 30px);
			float: left;
			margin: 0 15px 15px 15px;
			padding: 26px 86px 26px 26px;
			border-radius: 0px;
			font-size: 16px;
			color: #787878;
			box-shadow: 0 3px 6px 0px rgba(0 ,0 ,0 ,0.16);
			background: transparent !important;
			border: none;
			flex-direction: column-reverse;
			align-items: baseline !important;
			@media (max-width: 1198.98px){
				width: calc(33.3333% - 30px);
			}
			@media (max-width: 991.98px){
				width: calc(50% - 30px);
			}
			@media (max-width: 767px){
				width: calc(100% - 30px);
			}
			.badge{
				font-size: 24px;
				color: #818181 !important;
				background-color: transparent !important;
				font-weight: normal !important;
				width: fit-content;
				padding: 0 0 16px 0 !important;
			}
			&::after{
				position: absolute;
				right: 26px;
				top: 50%;
				transform: translateY(-50%);
				font-size: 24px !important;
				width: 55px;
				height: 55px;
				color: #000000;
				border-radius: 50%;
				display: flex !important;
				align-items: center;
				justify-content: center;
			}
			&:nth-child(16n-15){
				&::after{
					background-color: rgba(115, 103, 240,0.12);
				}
			}
			&:nth-child(16n-14){
				&::after{
					background-color: rgba(234, 84, 85,0.12);
				}
			}
			&:nth-child(16n-13){
				&::after{
					background-color: rgba(40, 199, 111,0.12);
				}
			}
			&:nth-child(16n-12){
				&::after{
					background-color: rgba(255, 159, 67,0.12);
				}
			}
			&:nth-child(16n-11){
				&::after{
					background-color: rgba(0, 153, 169,0.12);
				}
			}
			&:nth-child(16n-10){
				&::after{
					background-color: rgba(203, 158, 100,0.12);
				}
			}
			&:nth-child(16n-9){
				&::after{
					background-color: rgba(0, 0, 0,0.12);
				}
			}
			&:nth-child(16n-8){
				&::after{
					background-color: rgba(255, 0, 0,0.12);
				}
			}
			&:nth-child(16n-7){
				&::after{
					background-color: rgba(201, 8, 207,0.12);
				}
			}
			&:nth-child(16n-6){
				&::after{
					background-color: rgba(8, 207, 28,0.12);
				}
			}
			&:nth-child(16n-5){
				&::after{
					background-color: rgba(228, 223, 93,0.12);
				}
			}
			&:nth-child(16n-4){
				&::after{
					background-color: rgba(101, 22, 17,0.26);
				}
			}
			&:nth-child(16n-3){
				&::after{
					background-color: rgba(46, 6, 42,0.2);
				}
			}
			&:nth-child(16n-2){
				&::after{
					background-color: rgba(0, 153, 169,0.22);
				}
			}
			&:nth-child(16n-1){
				&::after{
					background-color: rgba(116, 103, 239,0.24);
				}
			}
			&:nth-child(16n){
				&::after{
					background-color: rgba(123, 132, 45,0.12);
				}
			}
			
		}
		a[href*="/my/quotes"]:after{
			content: "\e81e";
		    font-family: 'Linearicons-Free';
		}

		a[href*="/my/orders"]::after{
			content: "\e82e";
			font-family: 'Linearicons-Free';
		}
		
		[title*="Odoo Referral Program"]:after,[title="أودو إحالة البرنامج"]::after{
			content: "\e6c3";
			font-family: 'Stroke-Gap-Icons';
		}
		
		a[href*="/my/invoices"]::after{
			content: "\e972";
			font-family: 'IcoFont' !important;
			direction: ltr;
		}
		
		a[href*="/my/opportunities"]::after{
			content: "\ef2e";
			direction: ltr;
			font-family: 'IcoFont' !important;
		}
		
		a[href*="/my/projects"]::after{
			content: "\efb6";
		    font-family: 'IcoFont' !important;
			direction: ltr;
		}
		
		a[href*="/my/tasks"]::after{
			content: "\f007";
		    font-family: 'IcoFont' !important;
			direction: ltr;
		}
	
		a[href*="/my/timesheets"]::after{
			content: "\f022";			
			font-family: 'IcoFont' !important;
			direction: ltr;
		}
	
		[title*="Tickets"]:after,[title="التذاكر "]::after{
			content: "\ea53";
		    font-family: 'IcoFont' !important;
			direction: ltr;
		}
	
		a[href*="/my/purchase"]::after{
			content: "\eef8";
		    font-family: 'IcoFont' !important;
			direction: ltr;
		}

		a[href*="/my/rfq"]::after{
			content: "\f002";
		    font-family: 'IcoFont' !important;
			direction: ltr;
		}

		
		
	}
}

.o_portal_details{
	
	.clearfix{
		display: flex;
		justify-content: center;
		margin-top: 16px;
	}
	.col-form-label {
		font-weight: 500 !important;
		margin-bottom: 10px !important;
	}
	input.form-control,select.form-select{
		border-radius: 0 !important;
		padding: 14px !important;
		box-shadow: none !important;
		&::placeholder{
			color: #b3b3b3 !important;
		}
	}
	input[type="file"]{
		padding: 0 12px 0 0 !important;
		border-radius: 0px !important;
		border: 1px solid #b4b4b4;
		line-height: 54px;
		&::-webkit-file-upload-button{
			border-radius: 0 !important;
			outline: none !important;
			border: none !important;
			border-right: 1px solid #b4b4b4 !important;
			box-shadow: none !important;
		}
	}
	button[type="submit"]{
		border-radius: 0;
		font-size: 16px;
		padding: 10px 40px;
	}
}

#o_my_sidebar{
	.o_portal_my_details{
		padding: 26px;
		box-shadow: 0 3px 6px 0px rgba(0 ,0 ,0 ,0.16);
		border-radius: 0px;
		.tital{
			font-size: 22px;
			border-bottom: 1px solid #ebe9f1;
			padding-bottom: 25px;
			margin-bottom: 25px;
			.btn{
				font-size: 14px !important;
			}
		}
		address {
			padding-left: 26px;
			line-height: 24px;
			color: #787878;
			
			div[itemprop="address"]{
				display: flex;
				font-size: 16px;
				margin-top: 16px;
				flex-flow: row wrap;
				margin-bottom: 26px;
				@media (max-width: 991.98px){
					flex-direction: column;
				}
				> div .fa + span{
					padding-left: 30px !important;
					word-break: break-all;
				}
				> div{
					margin-right: 24px;
					.fa{
						line-height: 24px !important;
					}
				}
				.fa-map-marker::before{
					font-family: 'remixicon' !important;
					content: "\eea8" !important;
				}
				.fa-phone::before{
					font-family: 'remixicon' !important;
					content: "\ef67" !important;
				}
				.fa-envelope::before{
					font-family: 'remixicon' !important;
					content: "\ee88" !important;
				}
			}
			span[itemprop="name"]{
				font-size: 18px;
				font-weight: 500;
				color: #818181;
			}
		}
		.o_portal_my_security{
			border-radius: 0px;
			border: 1px solid #ded6de;
			padding: 20px;
			@media (min-width: 768px){
				max-width: 250px;
			}
			.security_tital{
				font-size: 18px;
				color: #787878;
			}
			.security_icon{
				width: 42px;
				height: 42px;
				border-radius: 0px;
				background-color: rgba($color: theme-color('primary'), $alpha: 0.1);
			}
			.btn{
				background-color: #7d7d7d !important;
				border-color: #7d7d7d !important;
			}
		}
	}
}

.lnr, .icon, .icofont, .lni, .ri, .ti{
	&.rounded-circle,
    &.rounded,
    &.rounded-0,
    &.rounded-leaf,
    &.img-thumbnail,
    &.shadow {
    	&.fa-2x{
		    width: 5rem;
		    height: 5rem;
		    line-height: 5rem;
    	}
    	&.fa-3x{
		    width: 6rem;
		    height: 6rem;
		    line-height: 6rem;
    	}
    	&.fa-4x{
		    width: 7rem;
		    height: 7rem;
		    line-height: 7rem;
    	}
    	&.fa-5x{
		    width: 8rem;
		    height: 8rem;
		    line-height: 8rem;
    	}
    	display: inline-block;
	    vertical-align: middle;
	    text-align: center;
	    width: 3rem;
	    height: 3rem;
	    line-height: 3rem;
	    background-color: #F8F9FA;
    }
}