.product_banner_main_section, .edit_mode_product_banner{

	.o_wsale_product_images{
		&.add_bg_color{
			@include product-color-sections('product-bgcolor');
		}
	}
	.product-img-box{
		#o-carousel-product{
			margin-bottom: 0 !important;
			.o_carousel_product_indicators{
				padding-top: 0 !important;
				
			}
			.carousel-indicators {
				justify-content: center !important;
				display: none !important;
			}
			.carousel-inner {
				.carousel-item{
					text-align: center;
				}
			}
			.carousel-outer{
				height: 90vh; 
				max-height: 500px;
				.carousel-control-prev,.carousel-control-next{
					visibility: visible;
					opacity: 1;
					z-index: 1200;
					.fa{
						background-color: #fff !important;
						color: theme-color('primary') !important;
						border: none !important;
						border-radius: 0 !important;
						font-size: 24px;
						transition: 0.2s;
						width: 2.5rem !important;
						box-shadow: 0 0.5rem 1rem rgba(0, 0, 0 , 0.15);
						&:hover{
							background-color: theme-color('primary') !important;
							color: #fff !important;
						}
					}
				}
				.carousel-control-prev{
					.fa{
						&::before{
							content: "\f104" !important;
						}
					}
				}
				.carousel-control-next{
					.fa{
						&::before{
							content: "\f105" !important;
						}
					}
				}
			}
		}
		#o-grid-product{
			max-height: 500px !important;
			overflow: auto !important;
			.snazzy-product-label {
				left: 16px;
				top: 16px;
				position: absolute;
			}
			.snazzy-product-discount-label {
				right: 16px;
				top: 16px;
				position: absolute;
				padding: 0 10px;
			}	
		}
	}

	#product_details{
		.product-info{
			padding: 2rem;
			.js_main_product{
				.product_price{
					margin: 0 !important;
					.oe_price{
						font-size: 16px;
						font-weight: 500;
						color: #E02B2B;
					}
					.oe_default_price{
						color: #707070 !important;
						font-size: 16px;
						font-weight: 400;
					}
				}
				.description{
					font-size: 16px;
				}
				.view-detail{
					font-size: 14px !important;
				}
				.js_add_cart_variants {
                    border-top: 1px solid #efefef;
                    padding-top: 10px;
                    margin-top: 10px;
                    margin-bottom: 0 !important;
                    .variant_attribute {
                        display: flex;
                        flex-flow: row wrap;
                        align-items: flex-start;
                        flex-direction: column;
                        padding-bottom: 5px !important;
                        &:last-child{
                            padding-bottom: 0px !important; 
                        }
                        .variant_custom_value {
                           border-radius: 0;
                           border: 1px solid #707070;
                           color: $ptextcolor;
                           font-size: 14px;
                           margin-left: 0 !important;
                        }
                        .attribute_name {
                            font-weight: normal;
                            word-break: break-all;
                            padding: 0 !important;
                            font-weight: 500;
                            line-height: 1;
                            margin-top: 4px;
                            margin-bottom: 10px;
                            font-size: 14px !important;
                            color: theme-color('secondary') !important;
                            &::after {
                                display: none;
                            }
                        }
                        ul{
                            display: flex;
                            flex-flow: row wrap;
                            margin-left: 0 !important;
                            .col-form-label {
                                padding: 0 !important;
                                position: relative;
                                input[type="radio"]{
                                    margin-right: 4px !important;
                                    &:checked{
                                        opacity: 0;
                                        & + .radio_input_value{
                                            &::before{
                                                position: absolute;
                                                top: 7px;
                                                left: 0;
                                                display: block;
                                                width: 14px;
                                                height: 14px;
                                                content: "";
                                                pointer-events: none;
                                                background-color: #FFFFFF;
                                                border: 2px solid theme-color('primary');
                                                border-radius: 50%;
                                            }
                                        }
                                    }
                                }
                                .radio_input_value{
                                    font-size: 14px;
                                    font-weight: 500;
                                    color: #5e5e5e;
                                }
                            }
                            .css_attribute_color {
                                width: 25px;
                                height: 25px;
                                border-width: 2px;
                                position: relative;
                                border-radius: 50%;
                                margin-bottom: 0 !important;
                                &::before {
                                    display: none;
                                }
                                input {
                                    margin: 0px !important;
                                    height: 22px;
                                    width: 22px;
                                    opacity: 0;
                                    position: absolute;
                                    left: 0;
                                }
                            }
                            .js_attribute_value {
                                .custom-control-input {
                                    background-color: transparent !important;
                                    border-width: 2px !important;
                                    background-size: 20px;
                                    width: 20px;
                                    height: 20px;
                                    box-shadow: none !important;
                                    &:checked + .radio_input_value::after{
                                        background-color: #fff !important;
                                        border-radius: 50%;
                                        border: 2px solid theme-color('primary');
                                    }
                                }
                            }
                            .radio_input_value {
                                margin-right: 1rem;
                                > span:not(.badge) {
                                    line-height: 28px;
                                }
                            }
                        }
                        &[data-attribute_display_type="radio"]{
                            .attribute_name{
                                margin-bottom: 6px !important;
                            }
                        }
                    }
                }
				
				.css_quantity {
					border: 1px solid #707070;
					align-items: center;
					display: flex;
					input{
						height: 38px !important;
					}
					input,
					.js_add_cart_json {
						border: none;
						box-shadow: none;
						.fa-plus {
							font-size: 14px !important;
							&::before {
								font-family: 'remixicon' !important;
								content: "\ea11" !important;
							}
						}
			
						.fa-minus {
							font-size: 14px !important;
							&::before {
								font-family: 'remixicon' !important;
								content: "\f0fb" !important;
							}
						}
					}
			
					.js_add_cart_json {
						width: 32px;
						padding: 0;
						color: #707070;
					}
				}
				
			}
		}
	}
	.a-submit , #buy_now, .qv-ajax-cart, #add-cart, #buy-cart{
		color: #fff;
		border-radius: 0px !important;
		font-size: 16px;
		font-weight: 500;
		text-transform: uppercase;
		box-shadow: none !important;
	}
	.edit_mode_product_image{
		height: 500px !important;
		object-fit: cover !important;
	}
}
.edit_mode_product_banner{
 .snazzy-pro-label-na{
	background-color: theme-color('primary');
	color: #ffffff !important;
 }
}

/* display options*/
.editor_enable{
	.bizople_product_banner{
		.edit_mode_product_banner{
			display: block !important;
		}
		.product_banner_main_section{
			display: none !important;
		}
	}
}

.bizople_product_banner{
	.snazzy-product-label{
		display: none;
	}
	.discount-label,.snazzy-product-discount-label{
		display: none;
	}
	.edit_mode_product_banner{
		display: none !important;
	}
	.product_banner_main_section, .edit_mode_product_banner {
		#product_details .product-rating,.o_website_rating_static{
			display: none !important;
		}
	} 
	.ajax_cart_modal_tools {
		display: none;
	}
	.buy_now_btn{
		display: none;
	}
	&.show-product-label{
		.snazzy-product-label{
			display: block;
		}
	}
	&.show-discount-label{
		.discount-label,.snazzy-product-discount-label{
			display: block;
		}
	}
	&.show-product-rating{
		.product_banner_main_section, .edit_mode_product_banner {
			#product_details .product-rating,.o_website_rating_static{
				display: inline-block !important;
			}
		} 
	}
	&.show-add-cart{
		.ajax_cart_modal_tools {
			display: block;
		}		
	}
	&.show-buy-cart{
		.buy_now_btn{
			display: block;
		}
	}
}

