@mixin  product_page_quantity {
    .css_quantity {
        border: 1px solid #707070;
        margin:0 10px 10px 0 !important;
        align-items: center;
        input{
            min-width: 70px;
            height: 42px !important;
        }
        input,
        .js_add_cart_json {
            border: none;
            box-shadow: none;
            .fa-plus {
                font-size: 14px !important;
                &::before {
                    font-family: 'remixicon' !important;
                    content: "\ea11" !important;
                }
            }

            .fa-minus {
                font-size: 14px !important;
                &::before {
                    font-family: 'remixicon' !important;
                    content: "\f0fb" !important;
                }
            }
        }

        .js_add_cart_json {
            width: 32px;
            padding: 0;
            color: #707070;
        }
    }
}
@keyframes pulse {
    0% { transform: scale(1)};
    50% { transform: scale(1.1)};
    100% { transform: scale(1)}; 
}
#wrap{
    &.add_bg_color{
        #o-carousel-product{
            .carousel-inner{
                @include product-color-sections('product-bgcolor');
            }
            .carousel-indicators ol li{
                @include product-color-sections('product-bgcolor');
            }
        }
        #o-grid-product,#electro_layout3_product_image{
            @include product-color-sections('product-bgcolor');
        }   
    }
    &:not(.add_bg_color){
        .layout3{
            .owl-item{
                img{
                    min-width: 100%;
                }
            }
        }
    }
}
.o_wsale_product_page {
    .counter_data {
        position: unset !important;
        left: unset !important;
        transform: unset !important;
        justify-content: start !important;
        .deal_of_the_day_countdown {
            width: 80px !important;
            height: 60px !important;
            background-color: rgba(theme-color('primary'), 0.1) !important;
            color: theme-color('primary') !important;
            margin: 8px 8px 8px 0 !important;
            span {
                font-size: 16px !important;
                line-height: 1.2 !important;
            }
            small {
                font-size: 13px !important;
            }
        }
        @media (max-width: 767px){
            .deal_of_the_day_countdown{
                width: 56px !important;
                height: 42px !important;
                span {
                    font-size: 12px !important;
                    line-height: 1.2 !important;
                }
                small {
                    font-size: 10px !important;
                }
            }
        }
    }
    #product_detail {
        .top-breadcrumbs {
            .breadcrumb-item {
                &::before {
                    content: "\f105" !important;
                    font-family: "FontAwesome" !important;
                }
                &:first-child {
                    &::before {
                        display: none;
                    }
                }
                a,span {
                    font-size: 14px;
                    line-height: 1;
                    color: $ptextcolor;
                }
                &.active{
                    a,span{
                        color: theme-color('secondary') !important;
                    }
                }
            }
        }

        .previous_and_next_product_button {
            position: relative;
            a {
                .view_next_detail_on_hover,
                .view_previous_detail_on_hover {
                    position: absolute;
                    display: flex;
                    top: 100%;
                    right: 0;
                    padding: 8px;
                    background-color: #fff;
                    z-index: 1;
                    width: 250px;
                    img {
                        max-width: 60px;
                        max-height: 60px;
                        margin-right: 8px;
                    }
                    .product_name {
                        font-size: 14px;
                        line-height: 1.2;
                    }
                    .product_price {
                        flex-flow: row wrap;
                        .main-price{
                            font-size: 12px;
                        }
                        del{
                            font-size: 10px;
                        }
                    }
                }
            }
            .seperator{
                font-size: 14px;
                margin-top: 2px;
            }
            .previous_product_btn,
            .next_product_btn {
                font-size: small;
                line-height: 1;
                color: theme-color('secondary');
                &.disabled {
                    color: $ptextcolor !important;
                }
            }
            .previous_product_btn,.next_product_btn {
                .view_previous_detail_on_hover,.view_next_detail_on_hover {
                    transition: 0.2s;
                    opacity: 0;
                    visibility: hidden;
                }
                &:hover {
                    color: theme-color('primary') !important;
                    .view_previous_detail_on_hover,.view_next_detail_on_hover {
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
        }

        .product-services {
            .info-icon {
                border-radius: 50%;
                background-color: #fff;
                color: #03A9F4;
                font-weight: 500;
                width: 19px;
                height: 19px;
                font-size: 11px;
                line-height: 19px;
                text-align: center;
                display: inline-block;
                border: 1px solid #e0e0e0;
                box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.2);
                vertical-align: middle;
                margin: 0 2px 0 8px;
                cursor: pointer;
            }
            .prod-attribute-label{
                margin-top: 2px;
            }
            li{
                line-break: anywhere;
            }
        }

        #o-carousel-product {
            top: unset !important;
            @media (max-width: 991.99px){
                overflow: visible !important;
                .carousel-indicators {
                    li{
                        background-color: #1b1b1b !important;
                        border: 2px solid transparent !important;
                        &.active{
                            background-color: transparent !important;
                            border: 2px solid #1b1b1b !important;
                        }
                    }
                }
            }
            .carousel-outer {
                .carousel-inner {
                    .carousel-item {
                        text-align: center;
                    }
                }
                .carousel-control-prev,
                .carousel-control-next {
                    .fa {
                        background-color: #fff !important;
                        color: theme-color('primary') !important;
                        border: none !important;
                        border-radius: 0 !important;
                        font-size: 24px;
                        transition: 0.2s;
                        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
                        width: 40px;
                        &:hover {
                            background-color: theme-color('primary') !important;
                            color: #fff !important;
                        }
                    }
                }

                .carousel-control-prev {
                    .fa::before {
                        content: "\f104" !important;
                    }
                }

                .carousel-control-next {
                    .fa::before {
                        content: "\f105" !important;
                    }
                }
                & + .carousel-indicators{
                    position: absolute;
                    max-width: 100%;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
            .carousel-indicators {
                @media (max-width: 991.99px){
                    left: 50%;
                    transform: translateX(-50%);
                    position: absolute;
                    bottom: -30px;
                }
                li {
                    box-shadow: none !important;
                    @media (min-width: 992px){
                        padding: 8px;
                    }
                    img {
                        object-fit: contain !important;
                    }
                }
            }
            &:not(.o_carousel_product_left_indicators){
                overflow: unset !important;
            }
        }

        .o_wsale_product_page_grid {
            position: relative;
            margin-bottom: 0 !important;
            img {
                display: flex;
                margin: auto;
            }
        }

        #product_details {
            position: relative;
            >hr{
                margin: 0 !important;
                display: none;
            }
            .snazzy_terms_conditions{
                font-size: 14px !important;
                b{
                    font-weight: 400 !important;
                    color: #000 !important;
                }
                span{
                    color: $ptextcolor !important;
                }
            }
            .product_labels {
                .snazzy-product-label{
                    margin: 0 8px 0 0 !important;
                }
            }
            h1[itemprop="name"] {
                font-weight: normal !important;
                font-size: 28px !important;
                line-height: 42px !important;
                width: calc(100% - 70px);
                display: flex;
                margin-bottom: 0 !important;
            }
            .stock_available_badge{
                min-width: 10px;
                width: 10px;
                height: 10px;
                border-radius: 50%;
            }
            .o_product_page_reviews_link{
                margin-left: auto !important;
            }
            .b2bloginbtn{
                font-size: 14px;
                margin: 0 10px 10px 0;
                border: 1px solid theme-color('primary') !important; 
            }
            .cart_product_sticky_section{
                position: fixed;
                width: auto;
                bottom: 0px;
                right: 100px; 
                z-index: 10;
                transform: translateY(100%);
                transition: 0.2s;
                @media (max-width: 991.98px){
                    right: 20px;
                    border-radius: 50%;
                }
                &.open{
                    bottom: 30px;
                    transform: translateY(0) !important;
                    @media (max-width: 991.98px){
                        bottom: 80px;
                    }
                }
                .css_quantity{
                    input{
                        width: 40px;
                        min-width: 40px !important;
                    }
                }
                .product_name{
                    font-size: 15px;
                    line-break: auto;
                    max-width: 150px;
                    line-height: 1.2;
                }
                .cart_prod_name_price{
                    // flex-flow: row wrap;
                    // .oe_price{
                    //     font-size: 14px;
                    // }
                    .oe_default_price{
                        font-size: 12px !important;
                    }
                    .oe_price{
                        font-weight: 500 !important;
                    }
                    h4{
                        font-size: 14px !important;
                        >span{
                            font-weight: 500 !important;
                        }
                    }
                }
                .cart_prod_img{
                    img{
                        max-width: 80px;
                    }
                }
                .js_product{
                    border: none;
                    border-radius: 50%;
                    margin: 0 !important;
                    #o_wsale_cta_wrapper{
                        margin: 0 !important;
                        padding: 0 !important;
                        border: none !important;
                    }
                    .js_add_cart_variants{
                        padding: 0 !important;
                        border: none !important;
                    }
                }
                .sticky_cart_button{
                    font-size: 16px !important;
                    padding: 0 !important;
                    width: 54px;
                    height: 44px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    @media (max-width: 991.98px){
                        width: 48px;
                        height: 48px;
                        border-radius: 50%;
                        font-size: 16px;
                        border: 2px solid theme-color('secondary') !important;
                        background-color: #fff !important;
                        color: theme-color('secondary') !important;
                    }
                }
            }
            .product_price {
                margin: 8px 0 0 0 !important;
                h4 {
                    display: flex;
                    align-items: center;
                    flex-direction: row-reverse;
                    margin: 0 !important;
                    font-size: 22px !important;
                    font-weight: normal !important;
                    color: $danger !important;
                    .oe_default_price {
                        margin-bottom: 0 !important;
                        color: #6c757d !important;
                        font-weight: normal !important;
                        margin-left: 8px !important;
                        &.text-danger {
                            font-size: 20px !important;
                        }
                    }
                    .oe_price{
                        font-size: 22px !important;
                        font-weight: 400 !important;
                    }
                }
            }
            
            .snazzy_product_description {
                color: $ptextcolor !important;
                line-height: 22px !important;
                font-size: 14px !important;
                overflow: hidden;
                &:empty{
                    margin: 0 !important;
                }
            }
            .show_more_deacription{
                color: $ptextcolor;
                font-size: 14px;
                transition: 0.2s;
                width: fit-content;
                position: relative;
                &::after {
                    content: '';
                    position: absolute;
                    left: 0px;
                    width: 100%;
                    height: 1px;
                    background: rgba($ptextcolor, 0.5);
                    display: block;
                    transform-origin: right top;
                    transform: scale(1, 1);
                    transition: transform 0.4s cubic-bezier(1, 0, 0, 1)
                }
                &:hover {
                    color: theme-color('primary') !important;
                    &::after {
                        transform-origin: left top;
                        transform: scale(0, 1);
                    }
                }
            }

            .js_main_product {
                margin-bottom: 8px !important;
                .js_add_cart_variants {
                    border-top: 1px solid #efefef;
                    padding-top: 10px;
                    margin-top: 10px;
                    margin-bottom: 0 !important;
                    .variant_attribute {
                        display: flex;
                        flex-flow: row wrap;
                        align-items: flex-start;
                        flex-direction: column;
                        padding-bottom: 5px !important;
                        &:last-child{
                            padding-bottom: 0px !important; 
                        }
                        .variant_custom_value {
                           border-radius: 0;
                           border: 1px solid #707070;
                           color: $ptextcolor;
                           font-size: 14px;
                           margin-left: 0 !important;
                        }
                        .attribute_name {
                            font-weight: normal;
                            word-break: break-all;
                            padding: 0 !important;
                            font-weight: 500;
                            line-height: 1;
                            margin-top: 4px;
                            margin-bottom: 10px;
                            font-size: 14px !important;
                            color: theme-color('secondary') !important;
                            &::after {
                                display: none;
                            }
                        }
                        ul{
                            display: flex;
                            flex-flow: row wrap;
                            margin-left: 0 !important;
                            .col-form-label {
                                padding: 0 !important;
                                position: relative;
                                input[type="radio"]{
                                    margin-right: 4px !important;
                                    &:checked{
                                        opacity: 0;
                                        & + .radio_input_value{
                                            &::before{
                                                position: absolute;
                                                top: 7px;
                                                left: 0;
                                                display: block;
                                                width: 14px;
                                                height: 14px;
                                                content: "";
                                                pointer-events: none;
                                                background-color: #FFFFFF;
                                                border: 2px solid theme-color('primary');
                                                border-radius: 50%;
                                            }
                                        }
                                    }
                                }
                                .radio_input_value{
                                    font-size: 14px;
                                    font-weight: 500;
                                    color: #5e5e5e;
                                }
                            }
                            .css_attribute_color {
                                width: 25px;
                                height: 25px;
                                border-width: 2px;
                                position: relative;
                                border-radius: 50%;
                                margin-bottom: 0 !important;
                                &::before {
                                    display: none;
                                }
                                input {
                                    margin: 0px !important;
                                    height: 22px;
                                    width: 22px;
                                    opacity: 0;
                                    position: absolute;
                                    left: 0;
                                }
                            }
                            .js_attribute_value {
                                .custom-control-input {
                                    background-color: transparent !important;
                                    border-width: 2px !important;
                                    background-size: 20px;
                                    width: 20px;
                                    height: 20px;
                                    box-shadow: none !important;
                                    &:checked + .radio_input_value::after{
                                        background-color: #fff !important;
                                        border-radius: 50%;
                                        border: 2px solid theme-color('primary');
                                    }
                                }
                            }
                            .radio_input_value {
                                margin-right: 1rem;
                                > span:not(.badge) {
                                    line-height: 28px;
                                }
                            }
                        }
                        &[data-attribute_display_type="radio"]{
                            .attribute_name{
                                margin-bottom: 6px !important;
                            }
                        }
                    }
                }

                #o_wsale_cta_wrapper {
                    border-top: 1px solid #efefef;
                    border-bottom: 1px solid #efefef;
                    padding: 10px 0;
                    @include product_page_quantity;
                    #add_to_cart_wrap {
                        .btn {
                            font-size: 14px;
                            margin:0 10px 10px 0;
                            border:1px solid theme-color('secondary') !important;
                        }
                    }
                    #buy_now{
                        border-radius: 0;
                        border-color: $ptextcolor !important;
                        color: $ptextcolor !important;
                        height: 42px;
                        margin-bottom: 10px;
                        font-size: 14px;
                        transition: 0.2s;
                        &:hover{
                            border-color: theme-color('primary') !important;
                            background-color: theme-color('primary') !important;
                            color: #fff !important;
                        }
                    }
                    #product_option_block {
                        .o_add_wishlist_dyn{
                            border: 1px solid #707070;
                            color: #707070;
                            margin-bottom: 10px;
                            border-radius:0;
                            width: 44px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            &:hover {
                                color: white !important;
                                background-color: theme-color('primary') !important;
                                animation: pulse 1s infinite;
                                animation-timing-function: linear; 
                                border-color: theme-color('primary');  
                            }
                            i{
                                font-family: 'remixicon' !important;
                                &::before{
                                    content: "\edbe" !important;
                                }
                            }
                        }
                    }

                    .product_share_buttons{
                        .open_product_share_modal{
                            cursor: pointer;
                        }
                        .product_share_content{
                            position: fixed;
                            left: 0;
                            bottom: 0;
                            top: 0;
                            right: 0;
                            background: rgba(0, 0, 0, 0.5);
                            z-index: -1;
                            visibility: hidden;
                            // transition: 0.5s;
                        }
                        .share_data{
                            position: fixed;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%,-50%);
                            transform-origin: center;
                            height: 0px !important;
                            z-index: 1051;
                            transition: 0.5s;
                            visibility: hidden;
                            .close_product_share_modal{
                                position: absolute;
                                top: 15px;
                                right: 15px;
                                border-radius: 50%;
                                cursor: pointer;
                                .close_icon{
                                    border-radius: 50%;
                                    width: 30px;
                                    height: 30px;
                                    &::before,&::after{
                                        display:inline-block;
                                        content: "";
                                        width: 16px;
                                        height: 1px;
                                        background-color: #000;
                                        top: 14px;
                                        left: 7px;
                                        position: absolute;
                                        transition: 0.2s;
                                    }
                                    &::before{
                                        transform: rotate(45deg);
                                    }
                                    &::after{
                                        transform: rotate(135deg);
                                    }
                                    &:hover{
                                        &::before{
                                            transform: rotate(0deg);
                                        }
                                        &::after{
                                            transform: rotate(180deg);
                                        } 
                                    }
                                }
                            }
                            .copy_product_url{
                                input{
                                    border-radius: 0 !important;
                                    border: 1px solid #707070 !important;
                                    outline: none !important;
                                    box-shadow: none !important;
                                    @media (max-width: 767px){
                                        width: 200px !important;
                                    }
                                }
                                .snazzy_product_url_copytoclipboard{
                                    border: 1px solid theme-color('secondary') !important;
                                }
                            }
                            .s_share{
                                a{
                                    margin: 0 10px 0 0 !important;
                                    width: 40px;
                                    height: 40px;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    border: 1px solid #1b1b1b;
                                    border-radius: 50%;
                                    background-color: transparent;
                                    transition: 0.2s;
                                    i{
                                        color: #000;
                                        transition: 0.2s;
                                    }
                                    &:hover{
                                        background-color: theme-color('primary');
                                        border-color: theme-color('primary');
                                        i{
                                            color: #fff;
                                        }
                                    }
                                }
                            }
                            .link_copy_successful{
                                position: absolute;
                                bottom: -15px;
                                left: 50%;
                                transform: translateX(-50%);
                                font-size: 14px;
                                border-radius: 20px;
                                &.successful{
                                    visibility: visible !important;
                                }
                                &:not(.successful){
                                    visibility: hidden !important;
                                }
                            }
                        }
                        .product_share_content.active{
                            visibility: visible;
                            z-index: 1050;
                            & + .share_data{
                                visibility: visible;
                            }
                            &.open + .share_data{
                                height: 291px !important;
                            }
                        }
                    }
                }
                .availability_messages{
                    margin: 8px 0 !important;
                    &:empty{
                        margin:0 !important;
                    }
                    #threshold_message,#already_in_cart_message{
                        font-size: 14px;
                        line-height: 1;
                    }
                    #out_of_stock_message{
                        font-size: 14px;
                        font-weight: 500;
                        p{
                            margin-bottom: 0px !important;
                            color: #dc3545 !important;
                        }
                    }
                    #stock_notification_div{
                        #product_stock_notification_message{
                            font-size: 14px;
                        }
                    }
                    #wsale_save_for_later_button{
                        border-radius: 0;
                        font-size: 14px;
                        height: 38px;
                    }
                    #stock_notification_form{
                        margin-top: 8px;
                        input{
                            font-size: 14px;
                            border-radius: 0 !important;
                            border: 1px solid #707070;
                            color: $ptextcolor !important;
                            box-shadow: none;
                        }
                    }
                }
            }

            .product_info_list {
                .product-brand{
                    img{
                        padding: 8px;
                        border: 1px solid #e5e5e5;
                    }
                    .brand-description {
                        word-break: break-all;
                        font-size:14px;
                    }
                }
                
                .product-services,.snazzy_categ {
                    .prod-attribute-label,
                    .categ-title {
                        white-space: nowrap;
                        position: relative;
                        font-size: 14px;
                    }
                    .prod-attribute-value ul>li>span,.prod-attribute-value ul>li>span,.categ-name{
                        font-size: 14px;
                    }
                    .categ-name{
                        position: relative;
                        &::after{
                            position: absolute;
                            content: ',';
                            display: inline-block;
                            right: 0;
                            top: 0;
                        }
                        &:last-child{
                            &:after{
                                display: none;
                            }
                        }
                    }
                }
            }
            .product_internal_reference{
                .prod-attribute-label,.prod-attribute-value{
                    word-break: break-all;
                    font-size: 14px;
                }
            }
            #o_product_terms_and_share {
                font-size: 12px;
                margin-top: 8px;
                margin-bottom: 8px !important;
                p,.h6{
                    font-size: 12px !important;
                }
                h4.flex-shrink-0 {
                    display: none !important;
                    margin: 0 !important;
                }
            }
        }
        @media (max-width: 991.99px){
            padding-bottom: 24px !important;
        }
    }

    .product_tabs {
        .main-tab.s_tabs_nav {
            .nav-tabs {
                border: none;
                border-bottom: 1px solid #707070;
                justify-content: center;
                .nav-item {
                    .nav-link {
                        border-radius: 0;
                        padding: 15px 30px;
                        font-size: 18px;
                        border: none;
                        position: relative;   
                        &::before{
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            content: '';
                            display: inline-block;
                            width: 0;
                            height: 2px;
                            background-color: theme-color('primary');
                            transition: 0.5s !important;
                        }                 
                        &.active,&:hover {
                            border: none;
                            &::before{
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }

        .s_tabs_content {
            border-bottom: 1px solid #707070;
            border-radius: 0;
            .o_shop_discussion_rating {
                border: none !important;
            }
        }
        #product_full_spec{
            border-top: 0 !important;
            #product_specifications {
                table{
                    margin-top: 0 !important;
                    tbody {
                        border: none !important;
            
                        tr {
                            border: none !important;
                            &.clickable{
                                border-bottom: 1px solid #dee2e6 !important;
                            }
                            th{
                                border: none !important;
                                font-weight: 600 !important;
                                --table-accent-bg:transparent !important;
                                --table-striped-bg:transparent !important;
                            }
                            td {
                                border: none !important;
                                background-color: transparent !important;
                                &:first-child {
                                    font-weight: 500;
                                }
                            }
                        }
                    }
                }
            }
        }
        #myCollapse {
            .card-header {
                font-weight: 500;
            }

            #discussion.o_portal_chatter {
                .o_portal_chatter {
                    flex-direction: column;
                    justify-content: center;

                    >div {
                        max-width: 100% !important;
                        padding-left: 0px !important;
                        padding-right: 0px !important;
                    }
                }
            }
        }
    }

    .alternative_and_accessory_products {
        .accessory_products,.alternative_product {

            #snazzy_accessory_product_slider,
            #snazzy_alternative_product_slider {
                position: relative;

                .owl-stage-outer {
                    overflow: hidden;
                    .owl-stage {
                        display: flex;
                    }
                }
                .pro-name-price {
                    .access-name,h6 {
                        // white-space: nowrap;
                        // overflow: hidden;
                        // text-overflow: ellipsis;
                        // text-align: left;
                        margin:0 !important;
                        line-height: 1;
                        font-size: 16px;
                        font-weight: 500;
                        color: theme-color('secondary') !important;
                    }

                    div[itemprop="description"] {
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: unset;
                        margin: 0;
                        font-size: 12px;
                        line-height: 16px;
                        margin-bottom: 4px;
                        &:empty{
                            margin-bottom: 0;
                        }
                    }

                    .product_price {
                        text-align: left !important;
                        font-weight: 400;
                        font-size: 16px;
                        // margin-top: 4px;
                        del{
                            font-size: 14px;
                        }
                    }
                    .product-rating {
                        font-size: smaller;
                        i {
                            color: theme-color('secondary') !important;
                        }
                    }
                }

                .owl-nav {
                    .owl-prev,
                    .owl-next {
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%)scale(0);
                    }

                    .owl-prev {
                        left: -22px;
                    }

                    .owl-next {
                        right: -22px;
                    }
                    button {
                        width: 44px;
                        height: 44px;
                        background-color: #ffffff;
                        border: 1px solid !important;
                        border-color: #ffffff !important;
                        text-align: center !important;
                        border-radius: 0;
                        opacity: 1 !important;
                        transform: scale(0);
                        transition: 0.3s;
                        -webkit-transition: 0.3s;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);

                        &.owl-prev {
                            .fa {
                                background-image: none !important;
                                color: theme-color('primary') !important;
                                font-size: 25px;
                                line-height: 22px;

                                &:before {
                                    content: '\f104' !important;
                                    font-family: 'FontAwesome' !important;
                                }
                            }
                        }

                        &.owl-next {
                            .fa {
                                background-image: none !important;
                                color: theme-color('primary') !important;
                                font-size: 25px;
                                line-height: 22px;

                                &:before {
                                    content: '\f105' !important;
                                    font-family: 'FontAwesome' !important;
                                }
                            }
                        }
                    }
                }

                &:hover {
                    .owl-nav {
                        button {
                            transform: translateY(-50%)scale(1);

                            &:hover {
                                background-color: theme-color('primary') !important;
                                border-color: theme-color('primary') !important;

                                .fa {
                                    color: #ffffff !important;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    &:not(.layout3) {
        #product_details{
            @media (min-width: 992px){
                padding-left: 75px;
                margin-top: 0 !important;
            }
        }
        #product_detail_main[data-image_layout="grid"] {
            #product_details{
                height: fit-content;
            }
            img.lazyload{
                width: 100%;
            }
        }

        #product_detail_main[data-image_layout="carousel"] {
            .o_wsale_product_images{
                height: fit-content;
            }

            #product_details {
                @media (max-width: 991.99px){
                    position: relative;
                    margin-top: 24px;
                }
            }
        }
    }

    &.layout2,
    &.layout3 {
        .product_tabs {
            .accordion {
                .card {
                    border-bottom: 1px solid $ptextcolor !important;
                    border-radius: 0 !important;

                    .card-header {
                        &::before {
                            font-family: 'themify' !important;
                            content: "\e622" !important;
                            font-size: small;
                            position: absolute;
                            top: 50%;
                            transform: translateY(-50%);
                            right: 0;
                        }

                        &.collapsed:before {
                            content: "\e61a" !important;
                        }
                    }
                }
            }
            .o_shop_discussion_rating{
                .o_portal_chatter{
                    > div{
                        display: flex;
                        flex-direction: column;
                    }
                }
                .o_portal_chatter_composer{
                    min-width: 100% !important;
                    margin: 0 !important;
                }
            }
        }
        .o_shop_discussion_rating{
            .o_portal_chatter.o_not_editable{
                @include media-breakpoint-up(md) {
                    >.o_portal_chatter {
                        .o_portal_chatter_header{
                            width: 100% !important;
                        }
                        .o_portal_chatter_composer{
                            padding-left: 0 !important;
                        }
                    }
                }
            }
        }
    }

    &.layout3 {
        #product_detail {
            // justify-content: center;
            #product_details {
                position: relative;
                margin-top: 24px;
                @media (min-width: 992px){
                    width: 50%;
                    margin-right: 50%;
                    padding: 0 60px;
                }
                .product_page_top_portion_content{
                    margin-bottom: 8px !important;
                }
                // #o_wsale_cta_wrapper {
                //     #add_to_cart_wrap {
                //         #add_to_cart.cart_visible_onscroll {
                //             position: fixed;
                //             top: 70%;
                //             transform: translate(-100%, -50%);
                //             left: 0;
                //             z-index: 5;
                //             transition: 0.2s;
                //             &.open {
                //                 transform: translate(0%, -50%);
                //             }
                //         }
                //     }
                // }

                .product_tabs {
                    @media (min-width: 992px){
                        position: absolute;
                        top: 0;
                        left: 100%;
                        padding: 0 15px;
                        max-height: 100%;
                        overflow: auto;
                        width: calc(100% - 60px) !important;
                    }
                }
            }
        }
        #snazzy_layout3_product_image {
            img{
                width: 20%;
                @media (max-width:1200px){
                    width: 25%;
                }
                @media (max-width:1024px){
                    width: 33.3333%;
                }
                @media (max-width:768px){
                    width: 50%;
                }
                @media (max-width:420px){
                    width: 100%;
                }
            }
            .owl-stage-outer {
                overflow: hidden;

                .owl-stage {
                    display: flex;
                    margin: auto;
                }
            }

            .owl-item {
                img {
                    width: 100%;
                }
                &.active{
                    .carousel-item{
                        display: block;
                    }
                }
            }

            .owl-nav {

                .owl-prev,.owl-next {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                }

                .owl-prev {
                    left: 30px;
                }

                .owl-next {
                    right: 30px;
                }

                button {
                    border: none !important;
                    width: 40px;
                    height: 40px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    transition: 0.2s;
                    &.owl-prev {
                        .fa {
                            font-size: 25px;
                            line-height: 22px;

                            &:before {
                                content: '\f104' !important;
                                font-family: 'FontAwesome' !important;
                            }
                        }
                    }

                    &.owl-next {
                        .fa {
                            font-size: 25px;
                            line-height: 22px;

                            &:before {
                                content: '\f105' !important;
                                font-family: 'FontAwesome' !important;
                            }
                        }
                    }

                    &:hover {
                        background-color: theme-color('primary');
                        color: #fff;
                    }
                }

                &.disabled {
                    display: none;
                }
            }
        }
    }

    .o_shop_discussion_rating{
        .o_portal_chatter.o_not_editable{
            .o_website_rating_card_container{
                justify-content: unset !important;
                >.col-lg-3{
                    >p{
                        text-align: center;
                    }
                }
                @media (min-width: 992px){
                    .col-lg-3{
                        margin-left: 0 !important;
                        flex: 0 0 41.66666667% !important;
                        max-width: 41.66666667% !important;
                        min-width: unset !important;
                    }
                    .col-lg-6{
                        flex: 0 0 50% !important;
                        max-width: 50% !important;
                    }
                }
                .o_website_rating_avg {
                    .o_website_rating_static{
                        margin: auto;
                    }
                }
                .o_website_rating_table_reset {
                    display: none !important;
                }
                &>div.col-lg-3 {
                    min-width: 50% !important;
                }
                .o_message_counter {
                    font-size: 14px !important;
                }
                .o_website_rating_table_progress{
                    .progress {
                        height: 10px !important;
                        margin-bottom: 0 !important;
                    }
                }
            }
            .o_portal_chatter_avatar {
                border-radius: 100% !important;
            }
            hr {
                display: none;
            }
            textarea {
                background-color: transparent !important;
                color: inherit !important;
                box-shadow: none !important;
                height: auto;
                min-height: 150px;
                border-radius: 0;
                &::placeholder {
                    color: inherit;
                }
                &:focus {
                    background-color: transparent;
                }
            }
            .o_portal_chatter_composer_btn,.o_portal_chatter_attachment_btn{
                border-radius: 0 !important;
            }
            .o_portal_chatter_message {
                background-color: transparent !important;
                color: inherit !important;
                box-shadow: unset !important;
                padding-top: 24px;
                border-top: 1px solid #d3d3d3;
                .flex-grow-1{
                    .btn{
                       border-radius: 0 !important;
                    }
                }
                .o_portal_chatter_message_title {
                    h5 {
                        font-size: 16px !important;
                    }
                }
            }
    
            @include media-breakpoint-up(md) {
                >.o_portal_chatter {
                    .o_portal_chatter_header{
                        width: 50% !important;
                    }
                    .o_portal_chatter_composer{
                        width: 100% !important;
                        margin: unset !important;
                        padding-left: 30px !important;
                    }
                    >div:first-child {
                        display: flex;
                    }
                }
            }
        }
    }
}