/* Quick View /* Select View /* Similar View
------------------------------*/
.quick-modal-backdrop,.select-modal-backdrop,.similar-modal-backdrop{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1050;
}

.quick-modal,.select-modal,.similar-modal{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    max-width: 1200px;
    width: 100%;
    margin: auto;
    display: flex;
    z-index: 1050;
    align-items: center;
    padding: 30px;
    .modal-open & {
        z-index: 1050;
    }
    .quick-popout,.select-popout,.similar-popout {
        background-color: white;
        width: 100%;
        position: relative;
        width: 100%;
        // max-width: 450px;
        // overflow: hidden;
        // transition: all .3s ease;
        // opacity: 0;
        // visibility: hidden;
        .oe_website_sale{
            overflow: auto;
            max-height: 80vh;
        }
		.o_wsale_product_images{
            background-color: #ffff;
            &.add_bg_color{
                @include product-color-sections('product-bgcolor');
            }
            img.lazyload{
                width: 100%;
            }
			#o-carousel-product{
				margin-bottom: 0 !important;
                .carousel-item{
                    min-height: unset !important;
                }
                .o_carousel_product_indicators{
                    display: none;
                }
			}
		}
        #product_details{
            @media (min-width: 1200px) { 
              padding: 30px;
            }
        }
        .quick_close,.select_close,.similar_close {
            position: absolute;
            opacity: 1 !important;
            font-size: 20px;
			right: 10px;
			top: 10px;
            z-index: 5;
			box-shadow: none !important;
            @include modal-close-icon-style;
        }
        .js_main_product{
            // max-height: 490px;
            // height: 100%;
            padding: 0 8px;
            // overflow: auto;
            // @media (max-width: 991px) { 
            //     max-height: 320px !important;
            //     @media (max-width: 767px) { 
            //         max-height: unset !important;
            //         overflow: visible !important;
            //     }
            // }
            .product_price {
                margin: 0 !important;
                h3,h4,h5 {
                    .oe_price{
                        font-size: 22px;
                        color: #dc3545 !important;
                        font-weight: normal !important;
                    }
                    .oe_default_price{
                        font-size: 20px;
                        color: #6c757d !important;
                        font-weight: normal !important;
                    }
                }
            }
            .js_add_cart_variants {
                border-top: 1px solid #efefef;
                padding-top: 10px;
                margin-top: 10px;
                .variant_attribute {
                    display: flex;
                    flex-flow: row wrap;
                    align-items: flex-start;
                    flex-direction: column;
                    padding-bottom: 5px !important;
                    &:last-child{
                        padding-bottom: 0px !important; 
                    }
                    .variant_custom_value {
                       border-radius: 0;
                       border: 1px solid #707070;
                       color: $ptextcolor;
                       font-size: 14px;
                       margin-left: 0 !important;
                    }
                    .attribute_name {
                        font-weight: normal;
                        word-break: break-all;
                        padding: 0 !important;
                        font-weight: 500;
                        line-height: 1;
                        margin-top: 4px;
                        margin-bottom: 10px;
                        font-size: 14px !important;
                        color: theme-color('secondary') !important;
                        &::after {
                            display: none;
                        }
                    }
                    ul{
                        display: flex;
                        flex-flow: row wrap;
                        margin-left: 0 !important;
                        .col-form-label {
                            padding: 0 !important;
                            position: relative;
                            input[type="radio"]{
                                margin-right: 4px !important;
                                &:checked{
                                    opacity: 0;
                                    & + .radio_input_value{
                                        &::before{
                                            position: absolute;
                                            top: 7px;
                                            left: 0;
                                            display: block;
                                            width: 14px;
                                            height: 14px;
                                            content: "";
                                            pointer-events: none;
                                            background-color: #FFFFFF;
                                            border: 2px solid theme-color('primary');
                                            border-radius: 50%;
                                        }
                                    }
                                }
                            }
                            .radio_input_value{
                                font-size: 14px;
                                font-weight: 500;
                                color: #5e5e5e;
                            }
                        }
                        .css_attribute_color {
                            width: 25px;
                            height: 25px;
                            border-width: 2px;
                            position: relative;
                            border-radius: 50%;
                            margin-bottom: 0 !important;
                            &::before {
                                display: none;
                            }
                            input {
                                margin: 0px !important;
                                height: 22px;
                                width: 22px;
                                opacity: 0;
                                position: absolute;
                                left: 0;
                            }
                        }
                        .js_attribute_value {
                            .custom-control-input {
                                background-color: transparent !important;
                                border-width: 2px !important;
                                background-size: 20px;
                                width: 20px;
                                height: 20px;
                                box-shadow: none !important;
                                &:checked + .radio_input_value::after{
                                    background-color: #fff !important;
                                    border-radius: 50%;
                                    border: 2px solid theme-color('primary');
                                }
                            }
                        }
                        .radio_input_value {
                            margin-right: 1rem;
                            > span:not(.badge) {
                                line-height: 28px;
                            }
                        }
                    }
                    &[data-attribute_display_type="radio"]{
                        .attribute_name{
                            margin-bottom: 6px !important;
                        }
                    }
                }

                .variant_attribute {
                    .list-inline {
                        // li.list-inline-item {
                        //     margin-right: 8px !important;
                        // }
                        .js_attribute_value {
                            .custom-control-input {
                                background-color: transparent !important;
                                border-width: 2px !important;
                                background-size: 20px;
                                width: 20px;
                                height: 20px;
                                box-shadow: none !important;
                                &:checked + .radio_input_value::after{
                                    background-color: #fff !important;
                                    border-radius: 50%;
                                    border: 2px solid theme-color('primary');
                                }
                            }
                        }
                        .radio_input_value {
                            > span:not(.badge) {
                                line-height: 28px;
                            }
                        }
                    }
                }
            }

        }
		.snazzy-product-label {
			left: 10px;
			top: 10px;
			position: absolute;
		}
		.snazzy-product-discount-label {
			right: 0;
			top: 10px;
			position: absolute;
			padding: 0 10px;
		}
    }
}

.quick-modal{
    .carousel-outer{
        height: unset !important;
        .carousel-inner{
            .carousel-item {
                img.product_detail_img{
                    width: 100%;
                    object-fit: cover !important;
                }
            }
        }
        .carousel-control-prev,.carousel-control-next{
            .fa{
                background-color: #fff !important;
                color: theme-color('primary') !important;
                border: none !important;
                border-radius: 0 !important;
                font-size: 24px;
                transition: 0.2s;
                box-shadow: 0 0.5rem 1rem rgba(0, 0, 0 , 0.15);
                &:hover{
                    background-color: theme-color('primary') !important;
                    color: #fff !important;
                }
            }
        }
        .carousel-control-prev{
            .fa{
                &::before{
                    content: "\f104" !important;
                }
            }
        }
        .carousel-control-next{
            .fa{
                &::before{
                    content: "\f105" !important;
                }
            }
        }
    }
    .quick-popout{
        .oe_website_sale{
            max-height: unset !important;
            overflow: hidden !important;
            .quick_modal_product_details{
                height: 80vh !important;
                max-height: 600px !important;
                overflow: auto;
                @media (max-width: 992px){
                    height: 80vh !important;
                    min-height: 100px;
                    max-height: 400px;
                }
                @media (max-width: 767px){
                    height: 80vh !important;
                    max-height: 40vh !important;
                    min-height: 100px;
                }
            }
            #o-carousel-product{
                img{
                    object-fit: cover !important;
                    height: 80vh !important;
                    max-height: 600px !important;
                    @media (max-width: 992px){
                        height: 80vh !important;
                        min-height: 100px;
                        max-height: 400px;
                    }
                    @media (max-width: 767px){
                        height: 80vh !important;
                        max-height: 40vh !important;
                        min-height: 100px;
                    }
                }
            }
        }
        .js_main_product{
            .snazzy_product_description {
                color: $ptextcolor !important;
                line-height: 22px !important;
                font-size: 14px !important;
                overflow: hidden;
                &:empty{
                    margin: 0 !important;
                }
            }
            .show_more_deacription{
                color: $ptextcolor;
                font-size: 14px;
                transition: 0.2s;
                width: fit-content;
                position: relative;
                &::after {
                    content: '';
                    position: absolute;
                    left: 0px;
                    width: 100%;
                    height: 1px;
                    background: rgba($ptextcolor, 0.5);
                    display: block;
                    transform-origin: right top;
                    transform: scale(1, 1);
                    transition: transform 0.4s cubic-bezier(1, 0, 0, 1)
                }
                &:hover {
                    color: theme-color('primary') !important;
                    &::after {
                        transform-origin: left top;
                        transform: scale(0, 1);
                    }
                }
            }
            #o_wsale_cta_wrapper {
                .b2bloginbtn{
                    margin: 0 10px 10px 0;
                }
                border-top: 1px solid #efefef;
                border-bottom: 1px solid #efefef;
                padding: 10px 0 0 0;
                @include product_page_quantity;
                .css_quantity{
                    @media (max-width: 767px) { 
                        input{
                            min-width: 0 !important;
                        }
                    }
                }
                #add_to_cart_wrap {
                    .btn {
                        font-size: 14px;
                        margin:0 10px 10px 0;
                        border:1px solid theme-color('secondary') !important;
                    }
                }
                #buy_now{
                    border-radius: 0;
                    border-color: $ptextcolor !important;
                    color: $ptextcolor !important;
                    height: 42px;
                    margin-bottom: 10px;
                    font-size: 14px;
                    transition: 0.2s;
                    &:hover{
                        border-color: theme-color('primary') !important;
                        background-color: theme-color('primary') !important;
                        color: #fff !important;
                    }
                }
                .o_add_wishlist_dyn{
                    border: 1px solid #707070;
                    color: #707070;
                    margin-bottom: 10px;
                    border-radius:0;
                    width: 44px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    &:hover {
                        color: white !important;
                        background-color: theme-color('primary') !important;
                        animation: pulse 1s infinite;
                        animation-timing-function: linear; 
                        border-color: theme-color('primary');  
                    }
                    i{
                        font-family: 'remixicon' !important;
                        &::before{
                            content: "\edbe" !important;
                        }
                    }
                }
            }
        }
        
    }
}
// quick modal style 
.quick_modal_wrap{
    .quick-modal{
        .js_sale.quick-popout{
            background-color: transparent;
        }
        #product_detail{
            .row.snazzy-quick-main{
                .product-img-section{
                  z-index: 1;
                  .o_wsale_product_images{
                    height: 100%;
                    #o-carousel-product{
                        height: 100%;
                        padding-bottom: 0 !important;
                    }
                  }
                }

                #product_details{
                    background-color: white;
                    transform: translateX(-100%);
                    transition-delay: 0.5s ;
                    transition: 0.5s;
                    z-index: -1;
                    @media (max-width: 767px) { 
                        transform: unset !important;
                        position: relative;
                    }
                }
            }
        }
    }
}


.select-modal{
    max-width: 450px;
    #stock_wishlist_message{
        justify-content: center;
    }
    .snazzy-select-main{
        padding: 20px !important;
        background-color: #ffffff1a;
        #product_details{
            .product_price{
                margin: 0 !important;
                h3,.oe_price {
                    font-size: 18px !important;
                    margin: 0 !important;
                    color: #dc3545 !important;
                    font-weight: normal !important;
                }
                .oe_default_price{
                    font-size: 16px;
                }
                .oe_price_h4 {
                    line-height: 0.5 !important;
                }
            }
            #o_wsale_cta_wrapper{
                .css_quantity {
                    border: 1px solid #707070;
                    align-items: center;
                    margin-top: 10px;
                    input{
                        height: 38px !important;
                    }
                    input,
                    .js_add_cart_json {
                        border: none;
                        box-shadow: none;
                        .fa-plus {
                            font-size: 14px !important;
                            &::before {
                                font-family: 'remixicon' !important;
                                content: "\ea11" !important;
                            }
                        }
            
                        .fa-minus {
                            font-size: 14px !important;
                            &::before {
                                font-family: 'remixicon' !important;
                                content: "\f0fb" !important;
                            }
                        }
                    }
            
                    .js_add_cart_json {
                        width: 26px;
                        padding: 0;
                        color: #707070;
                    }
                }
                #add_to_cart_wrap{
                    width: 100%;
                    flex-flow: row wrap;
                    .btn{
                        width: 100%;
                        padding: 10px;
                        span{
                          font-weight: 500 !important;
                          font-size: 14px !important;
                        }
                    }
                   
                    #buy_now{
                        background-color: transparent !important;
                        border: 2px solid theme-color('primary');
                        color: theme-color('primary');
                        box-shadow: none !important;
                    }
                }
            }
            .js_add_cart_variants{
                border: 0 !important;
                li[data-attribute_display_type="radio"] {
                    .o_wsale_product_attribute {
                        li.list-inline-item {
                            margin-right: 4px !important;
                            margin-left: 4px !important;
                        }
                    }
                }
                li.variant_attribute{
                    text-align: center;
                    .list-inline{
                        width: 100%;
                        justify-content: center !important;
                    }
                    .attribute_name{
                        width: 100% !important;
                        font-size: 16px !important;
                        margin-bottom: 5px !important;
                        margin-top: 10px;
                        float: unset !important;
                        justify-content: center;
                        font-weight: 500 !important;
                        text-transform: none !important;
                    }
                    .radio_input_value:not(.o_variant_pills_input_value){
                        margin: 0 !important;
                    }
                    .css_attribute_select{
                        margin: 0 auto !important;
                    }
                    .js_attribute_value:not(:first-child):not(.o_variant_pills){
                        padding-top: 0rem;
                    }
                    padding: 0;
                    justify-content: center;
    
                    & > ul.o_wsale_product_attribute {
                        align-items: center !important;
                        justify-content: center;
                        display: flex;
                        flex-wrap: wrap;
                        margin: auto !important;
    
                        .js_attribute_value:not(:first-child) {
                            margin-left: 10px !important;
                        }
                    }
                }
            }
        }
    }

    #o-carousel-product {
        margin-bottom: 0 !important;
        .carousel-outer {
            height: 100px !important;
            border: 0 !important;
        }
        .carousel-control-prev,
        .carousel-control-next,.carousel-indicators {
           display: none !important;
        }
    }
}

.similar-modal{ 
    .similar-product-image{
        &.add_bg_color{
            @include product-color-sections('product-bgcolor');
        }
        .img{
          aspect-ratio: 4/5;
        }
    }
    .cart-title{
        color: #707070 !important;
    }
    .similar-text-box{
        .product_name{
            font-size: 16px !important;
            font-weight: 600;
        }
        .product_desc{
            font-size: 12px !important;
            overflow: hidden;
            display: -webkit-box;
            text-overflow: ellipsis;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }
        .product_price{
            >span{
                font-size: 16px;
                color: #E02B2B;
                font-weight: 500;
            }
            del{
                font-size: 14px;
                color: inherit !important;
                .small{
                    font-size: 14px;
                    font-style: normal !important;
                }
            }
        }
    }
    .owl-dots {
        text-align: center;
        padding-top: 10px;
    }
    .owl-dots button.owl-dot {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        display: inline-block;
        background-color: theme-color('secondary');
        border: 1px solid theme-color('secondary');
        margin: 0 3px;
        padding: 0;
        &.active{
            background-color: transparent !important;
            border: 1px solid theme-color('secondary');
            width: 10px;
            height: 10px;
        }
        &:focus{
          outline: none;
        }
    }
    .owl-nav button {
        position: absolute;
        top: 38%;
        transform: translateY(-50%);
        @media (max-width: 768px) { 
            display: none !important;
        }
        &.owl-prev{
          left: 0;
          .fa{
            &::before{
                content: "\f104" !important;
            }
        }
        }
        &.owl-next{
          right: 0;
           .fa{
                &::before{
                    content: "\f105" !important;
                }
            }
        }
        background-color: #fff !important;
        color: #1b1b1b !important;
        border: none !important;
        border-radius: 0 !important;
        font-size: 24px;
        transition: 0.2s;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0 , 0.15);
        width: 40px;
        height: 40px;
        &:hover{
            background-color: theme-color('primary') !important;
            color: #fff !important;
        }
    }
}
