//Shop Cart Side bar
.cart-sidebar {
  width: 400px !important;
  position: fixed;
  top: 0;
  right: -400px;
  z-index: 1055;
  height: 100%;
  transition: all 0.3s ease;
  @media (max-width: 767.98px) {
		width: 300px !important;
		position: fixed;
		top: 0;
		right: -300px;
  }
  

  + .cart_sidebar_backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0 ,0 ,0 , 0.5);
    z-index: 1049;
    opacity: 0;
    visibility: hidden;
  }
  &.toggled{
    right: 0px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
    + .cart_sidebar_backdrop{
      opacity: 1;
      visibility: visible;
    }
  }
  .cart-content {
    height: 100%;
    overflow-y: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    &.desktop{
      overflow-y: hidden;
    }

    .cart-sidebar-heading{
      .cart-title{
        cursor: pointer;
        #close_cart_sidebar{
          position: absolute;
          right: 10px;
          @include modal-close-icon-style;
        }
        margin: 0;
      }
    }

    .sidebar-cart-lines{
      overflow-y: auto;
      max-height: calc(100% - 160px);
      height: calc(100% - 160px);

      .cart-product-color.add_bg_color{
        img{
            background-color: var(--product-bgcolor);
            min-width: 78px !important;
            min-height: 100px !important;
        }
      }

      .cart-product-name-detail{
        .cart-product-title a{
          text-decoration: none !important;
        }
        .product-titile{
          font-size: 14px;
          font-weight: 500;
        }
        .product-price{
            span{
                font-size: 14px !important;
                color: #E02B2B !important;
                font-weight: 500 !important;
            }
            del{
                font-size: 14px;
                margin-left: 5px;
                .small{
                    font-size: 14px;
                    font-style: normal !important;
                }
            }
        }
        .product-qty{
          .css_quantity {
            border: 1px solid #707070;
            align-items: center;
            display: flex;
            justify-content: center;
            input{
                height: 30px !important;
            }
            input,
            .js_add_cart_json {
                border: none;
                box-shadow: none;
                .fa-plus {
                    font-size: 14px !important;
                    &::before {
                        font-family: 'remixicon' !important;
                        content: "\ea11" !important;
                    }
                }
    
                .fa-minus {
                    font-size: 14px !important;
                    &::before {
                        font-family: 'remixicon' !important;
                        content: "\f0fb" !important;
                    }
                }
            }
    
            .js_add_cart_json {
                line-height: 1px !important;
                padding: 0;
                color: #707070;
                width: 20px;
            }
          }
        }
        .remove-cart-btn{
          a{
            span{
              font-size: 12px;
              text-decoration: underline;
              transition: color .3s ease;
            }
            &:hover{
              span{
                color: red;
                text-decoration: none !important;
              }
            }
          }
        }
        a.btn{
          font-size: 14px !important;
          line-height: 16px !important;
          box-shadow: none;
          border-radius: 0;
        }
      }
    }

    .cart-side-total-section{
      .cart-notice{
        font-size: 14px !important;
      }
      .cart-offer-content{
        padding: 15px 0 10px;
        border-top: 1px dashed #bebebe;
        border-bottom: 1px dashed #bebebe;
        margin-bottom: 15px;
        .offer-style{
          white-space: nowrap;
          margin-bottom: 5px;
          display: flex;
          overflow: hidden;
          p{
            transform: translate(80px);
            white-space: nowrap;
            will-change: transform;
            animation: marquee 15s linear infinite;
          }
        }
      }
      .cart-footer-price{
        span{
        font-weight: 500 !important;
        }
      }
      .cart-shipping{
        .btn{
          padding: 10px 15px;
          border-radius: 0;
          text-transform: uppercase;
          letter-spacing: 2px;
          span{
            font-size: 12px !important;
          }
        }
      }
    }
  }
}

@keyframes marquee {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}

#wrapwrap{
    z-index:inherit !important;
}
#wrapwrap > main{
  overflow: hidden;
}
