.custom_padding_top{
    @include media-breakpoint-down(md) { 
        padding-top: 16px !important;
    }
}

.custom_padding_bottom{
    @include media-breakpoint-down(md) { 
        padding-bottom: 16px !important;
    }
}

.custom_padding_top_30{
    padding-top: 30px;
    @include media-breakpoint-down(sm) {
        padding-top: 15px;
    }
}

.custom_padding_top_30_lg_down{
    @include media-breakpoint-down(lg) {
        padding-top: 30px;
    }
    @include media-breakpoint-down(sm) {
        padding-top: 15px;
    }
}

a[class*=btn-outline]{
    border-radius: 0;
}

.custom_font_size_18{
    font-size: 18px;
}

.custom_fw_500{
    font-weight: 500;
}
.custom_fw_600{
    font-weight: 600;
}


.biz_theme_snazzy_homepage_four_banner{

    .carousel-control-prev, .carousel-control-next{
        visibility: hidden;
    }

    .s_carousel_rounded{
        .carousel-indicators{
            li{
                background-color: theme-color('secondary');
                border: 1px solid theme-color('secondary');
                opacity: 1;
                height: 4px !important;
                width: 4px !important;
                margin-right: 10px;
            }
            li.active{
                background-color: transparent;
                border: 1px solid theme-color('secondary');
                opacity: 1;
                height: 6px !important;
                width: 6px !important;
            }
        }
    }
    
}

.biz_theme_snazzy_homepage_four_countdown_two_block{
   
    @include media-breakpoint-up(lg) {
        .text_content{
            padding-left: 18px;
            padding-right: 140px;
        }
    }

    @include media-breakpoint-down(lg) {
        .text_content{
            padding-top: 30px;
        }
    }

}


.biz_theme_snazzy_homepage_four_new_arrivals_text_style{
    .slider_direction_snippet{
        p{
            font-size: 200px;
            -webkit-text-stroke: 2px theme-color('primary');
            color: transparent;
            caret-color: black;
        }
        .text_content_parent_class p {
            width: 100%;
            height: 100%;
            margin: 0;
            line-height: 1;
            text-align: center;
        }
    }
}
body:not(.editor_enable){
    .biz_theme_snazzy_homepage_four_new_arrivals_text_style{

        .slider_direction_snippet.slider_direction_right_to_left{
            
            .text_content_parent_class {
                overflow: hidden;
                position: relative;
            }

            .text_content_parent_class p {
                white-space: nowrap;
                -moz-transform: translateX(100%);
                -webkit-transform: translateX(100%);
                transform: translateX(100%);
                -moz-animation: scroll-left 2s linear infinite;
                -webkit-animation: scroll-left 2s linear infinite;
                animation: scroll-left 30s linear infinite;
                @media (max-width: 768px) { 
                    animation: scroll-left 60s linear infinite !important;
                }
            }
            
            @-moz-keyframes scroll-left {
                0% {
                    -moz-transform: translateX(100%);
                }
                100% {
                    -moz-transform: translateX(-100%);
                }
            }
            
            @-webkit-keyframes scroll-left {
                0% {
                    -webkit-transform: translateX(100%);
                }
                100% {
                    -webkit-transform: translateX(-100%);
                }
            }
            
            @keyframes scroll-left {
                0% {
                    -moz-transform: translateX(100%);
                    -webkit-transform: translateX(100%);
                    transform: translateX(100%);
                }
                100% {
                    -moz-transform: translateX(-100%);
                    -webkit-transform: translateX(-100%);
                    transform: translateX(-100%);
                }
            }
        }

        .slider_direction_snippet.slider_direction_left_to_right{
            
            .text_content_parent_class {
                overflow: hidden;
                position: relative;
            }

            .text_content_parent_class p {
                white-space: nowrap;
                -moz-transform: translateX(100%);
                -webkit-transform: translateX(100%);
                transform: translateX(100%);
                -moz-animation: scroll-right 2s linear infinite;
                -webkit-animation: scroll-right 2s linear infinite;
                animation: scroll-right 30s linear infinite;
            }
            
            @-moz-keyframes scroll-right {
                100% {
                    -moz-transform: translateX(100%);
                }
                0% {
                    -moz-transform: translateX(-100%);
                }
            }
            
            @-webkit-keyframes scroll-right {
                100% {
                    -webkit-transform: translateX(100%);
                }
                0% {
                    -webkit-transform: translateX(-100%);
                }
            }
            
            @keyframes scroll-right {
                100% {
                    -moz-transform: translateX(100%);
                    -webkit-transform: translateX(100%);
                    transform: translateX(100%);
                }
                0% {
                    -moz-transform: translateX(-100%);
                    -webkit-transform: translateX(-100%);
                    transform: translateX(-100%);
                }
            }
        }

        .slider_direction_snippet.slider_direction_bottom_to_top{
            
            .text_content_parent_class {
                overflow: hidden;
                position: relative;
            }

            .text_content_parent_class p {
                -moz-transform: translateY(100%);
                -webkit-transform: translateY(100%);
                transform: translateY(100%);
                -moz-animation: scroll-top 2s linear infinite;
                -webkit-animation: scroll-top 2s linear infinite;
                animation: scroll-top 5s linear infinite;
            }
            
            @-moz-keyframes scroll-top {
                0% {
                    -moz-transform: translateY(100%);
                }
                100% {
                    -moz-transform: translateY(-100%);
                }
            }
            
            @-webkit-keyframes scroll-top {
                0% {
                    -webkit-transform: translateY(100%);
                }
                100% {
                    -webkit-transform: translateY(-100%);
                }
            }
            
            @keyframes scroll-top {
                0% {
                    -moz-transform: translateY(100%);
                    -webkit-transform: translateY(100%);
                    transform: translateY(100%);
                }
                100% {
                    -moz-transform: translateY(-100%);
                    -webkit-transform: translateY(-100%);
                    transform: translateY(-100%);
                }
            }

        }

        .slider_direction_snippet.slider_direction_top_to_bottom{
            
            .text_content_parent_class {
                overflow: hidden;
                position: relative;
            }

            .text_content_parent_class p {
                // position: absolute;
                // white-space: nowrap;
                -moz-transform: translateY(100%);
                -webkit-transform: translateY(100%);
                transform: translateY(100%);
                -moz-animation: scroll-bottom 2s linear infinite;
                -webkit-animation: scroll-bottom 2s linear infinite;
                animation: scroll-bottom 5s linear infinite;
            }
            
            @-moz-keyframes scroll-bottom {
                100% {
                    -moz-transform: translateY(100%);
                }
                0% {
                    -moz-transform: translateY(-100%);
                }
            }
            
            @-webkit-keyframes scroll-bottom {
                100% {
                    -webkit-transform: translateY(100%);
                }
                0% {
                    -webkit-transform: translateY(-100%);
                }
            }
            
            @keyframes scroll-bottom {
                100% {
                    -moz-transform: translateY(100%);
                    -webkit-transform: translateY(100%);
                    transform: translateY(100%);
                }
                0% {
                    -moz-transform: translateY(-100%);
                    -webkit-transform: translateY(-100%);
                    transform: translateY(-100%);
                }
            }
        }
    }
}


.biz_theme_snazzy_homepage_four_testimonial{
    .s_carousel_rounded {
        .carousel-control-prev-icon:before {
            font-family: "Linearicons-Free" !important;
            content: "\e875" !important;
            font-size: 14px;
            font-weight: bold;
        }
        .carousel-control-next-icon:before {
            font-family: "Linearicons-Free" !important;
            content: "\e876" !important;
            font-size: 14px;
            font-weight: bold;
        }
        .carousel-control-prev-icon,
        .carousel-control-next-icon {
            &::before {
                width: 3rem !important;
                height: 3rem !important;
                line-height: 3rem !important;
                border-radius: 100%;
                transition: 0.3s;
                background: #ffff;

                @include media-breakpoint-down(lg) {
                    display: none;
                }
            }
            &:hover::before {
                box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
                border-radius: 50%;
            }
        }
    }
    .img{
        min-width: 50px;
    }
    .carousel-indicators{
        li{
            background-color: theme-color('secondary');
            border: 1px solid theme-color('secondary');
            opacity: 1;
            height: 4px !important;
            width: 4px !important;
            margin-right: 10px;
        }
        li.active{
            background-color: transparent;
            border: 1px solid theme-color('secondary');
            opacity: 1;
            height: 6px !important;
            width: 6px !important;
        }
    }
}


.biz_theme_snazzy_homepage_four_order_features{

    p{
        font-size: 14px;
        margin-bottom: 0;
    }

    small{
        font-size: 10px;
    }

    i{
        // font-size: 48px;
        line-height: 1;
        color: theme-color('primary');
        @include media-breakpoint-down(lg) {
            padding-bottom: 30px;
        }
    }
    .content_border{
        border: 1px solid theme-color('primary');
        background-color: transparent;
        transition: 0.5s;
        &:hover{
            background-color: theme-color('primary');
            i, p, small{
                color: #ffff;
            }
        }
        @include media-breakpoint-down(lg) {
            margin-bottom: 30px;
        }
        @include media-breakpoint-down(sm) {
            margin-bottom: 15px;
        }
    }
}


.biz_theme_snazzy_homepage_four_unique_needs_two_block{
    .text_content{
        color: #1c1c1c8c;
    }
    hr{
        height: 2px;
    }
}

.biz_theme_snazzy_homepage_four_popular_categories{
    position: relative;
    .text_content_badge{
        background-color: #C0A6A9 !important;
    }
    .bottom-zero{
        bottom: 0 !important;
    }
    .top-zero{
        top: 0 !important;
    }
}