.custom_padding_top {
    @include media-breakpoint-down(lg) {
        padding-top: 30px !important;
    }

    @include media-breakpoint-down(sm) {
        padding-top: 15px !important;
    }
}

.custom_padding_bottom {
    @include media-breakpoint-down(md) {
        padding-bottom: 30px !important;
    }

    @include media-breakpoint-down(sm) {
        padding-bottom: 15px !important;
    }
}

.custom_padding_top_lg_down_30 {
    @include media-breakpoint-down(lg) {
        padding-top: 30px !important;
    }
}

.custom_padding_top_sm_down_15 {
    @include media-breakpoint-down(sm) {
        padding-top: 15px !important;
    }
}

.custom_fw_300 {
    font-weight: 300;
}

.custom_fw_400 {
    font-weight: 400;
}

.custom_fw_500 {
    font-weight: 500;
}

.custom_fw_600 {
    font-weight: 600;
}



.biz_theme_snazzy_homepage_two_banner_one {
    .heading_content {
        line-height: 1;
    }
}


.editor_enable{
    .biz_theme_snazzy_homepage_two_banner_two{
        .hedging_content_parent_class_bottom{
            visibility: hidden !important;
        }
        .hedging_content_parent_class_top{
            .banner_hedging_text_one{
                -webkit-text-stroke: 4px white !important;
                color: white !important;
                caret-color: black;
            }
        }
    }
}

.biz_theme_snazzy_homepage_two_banner_two {

    .img_content {
        z-index: 20;
        transform: translateX(-50%);
        left: 50%;
        top: 0;
    }

    .hedging_content_parent_class_bottom, .hedging_content_parent_class_top{
        padding-top: 200px;
        padding-bottom: 230px;

        @include media-breakpoint-down(lg) {
            padding-top: 110px;
            padding-bottom: 150px;
        }
        @include media-breakpoint-down(sm) {
            padding-top: 72px;
            padding-bottom: 88px;
        }

        .banner_hedging_text_one {
            font-size: 200px;
            margin: 0;
            line-height: 1;
            -webkit-text-stroke: 4px white;

            @include media-breakpoint-down(lg) {
                font-size: 104px;
                -webkit-text-stroke: 3px white;
            }
            @include media-breakpoint-down(sm) {
                font-size: 60px;
                -webkit-text-stroke: 2px white;
            }
        }
    }
    
    .hedging_content_parent_class_bottom {
        z-index: 10;
        .banner_hedging_text_one {
            color: white;
        }
    }

    .hedging_content_parent_class_top {
        z-index: 30;
        transform: translateX(-50%);
        left: 50%;
        top: 0;
        // width: 85% !important;

        .banner_hedging_text_one {
            color: transparent;
        }
    }

    .text_content_and_btn{
        hr{
            width: 33%;
            height: 2px;
            color: white;
        }
        @include media-breakpoint-up(sm) {
            padding-top: 128px;
            .banner_btn{
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
        @include media-breakpoint-down(lg) {
            hr{
                width: 24%;
                height: 2px;
                color: white;
            }
        }
        @include media-breakpoint-down(sm) {
            padding-top: 64px;
            hr{
                display: none;
            }
        }
    }

    .text_content_parent_class {
        z-index: 50;
        @include media-breakpoint-up(sm) {
            position: absolute;
            left: 0;
            top: 50%;
            transform: rotate(270deg) translateX(-50%);
            transform-origin: top left;
        }
        @include media-breakpoint-down(sm) {
            text-align: center;
        }
    }

    .social_media_icons {
        a{
            box-shadow: none;
        }
        z-index: 50;
        @include media-breakpoint-up(sm) {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            .icon_content {
                display: flex;
                flex-direction: column;
                padding-right: 16px;
            }
        }
        @include media-breakpoint-down(sm) {
            display: flex;
            align-items: center;
            justify-content: center;
            i{
                margin-right: 8px;
            }
        }
    }
}


.biz_theme_snazzy_homepage_two_best_feature_in_shoes {
    .icon_div_min_width {
        min-width: 100px;
    }

    .img_icon {
        max-width: 64px;
    }
}


.biz_theme_snazzy_homepage_two_order_features {
    i {
        font-size: 25px;
    }
}


.biz_theme_snazzy_homepage_two_hover_img_effect {
    .content-hover-style {
        position: relative;

        .hover-content {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            padding: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            z-index: 2;
            visibility: hidden;
            opacity: 0;
            transition: 0.3s;
        }

        .features-image {
            overflow: hidden;
            position: relative;

            img {
                transform: scale(1);
                transition: 0.3s;
            }

            &::before {
                content: '';
                background: theme-color('primary');
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                opacity: 0;
                z-index: 1;
                transition: 0.3s;
                visibility: hidden;
            }
        }

        &:hover {
            position: relative;

            .features-image {
                img {
                    transform: scale(1.1);
                }

                &::before {
                    opacity: 0.6;
                    visibility: visible;
                }
            }

            .hover-content {
                opacity: 1 !important;
                visibility: visible !important;
            }
        }
    }
}


.biz_theme_snazzy_homepage_two_gallery {
    .gallery_text_style {
        font-size: 80px;
        -webkit-text-stroke: 2px theme-color('primary');
        color: transparent;
    }

    @include media-breakpoint-down(lg) {
        .gallery_text_style {
            font-size: 64px;
        }
    }

    @include media-breakpoint-down(sm) {
        .gallery_text_style {
            font-size: 28px;
            -webkit-text-stroke: 1px theme-color('primary');
        }
    }
    .bottom-zero{
        bottom: 0 !important;
    }
    .top-zero{
        top: 0 !important;
    }
}


.biz_theme_snazzy_homepage_two_our_story {
    .text_content {
        @include media-breakpoint-up(lg) {
            margin-right: 120px
        }
    }
}


.biz_theme_snazzy_homepage_two_hot_this_week {
    .block-hover-effect {
        overflow: hidden;

        .img {
            transition: all 300ms linear;

            &:hover {
                transform: scale(1.1);
            }
        }
    }
    .bottom-zero{
        bottom: 0 !important;
    }
}