//Snazzy Header Five
.snazzy_header_five{
    .top-header, .middle-header, .bottom-header{
        @include dropdown-caret-mixin;
    }
    .top-header{
        @include header-color-sections('header-custom-top-background');
        @include header-curruncy-language-option;
        .js_language_selector{
            @include header-language-flag;
            .dropdown-toggle {
                padding-right: 10px !important;
            }
            .list-inline{
                .js_change_lang{
                    color: inherit !important;
                    span{
                        text-transform: uppercase !important;
                        color: inherit !important;
                    }
                }
                .o_add_language.d-sm-inline-block.list-inline-item{
                    padding-right: 10px;
                    text-transform: uppercase !important;
                    color: inherit !important;
                }
            }
        }
        .auto_assign_categ{
            .categ_link{
              color: inherit !important;
            }
        }
        .curruncy-selector .btn{
            line-height: 1 !important;
            border-left: 1px solid #929292;
            border-radius: 0 !important;
            padding-left: 10px !important; 
            padding-right: 0 !important;
        }
    }
    .middle-header{
        @media (min-width: 992px){
            border-bottom: 1px solid #ececec;
        }
        .contact-content{
			i{
				font-size: 30px;
			}
			.content-info{
				.sub-content{
                  font-size: 8px;
				}
			}
		}
        .header_right{
            @include header-icon-badge;
            @include header-wishlist-icon; 
            @include header-cart-icon; 
            @include header-user-account-info; 
            .header-myaccount{
                .dropdown-toggle{
                    padding-right: 0 !important;
                }
            }
            .wishlist, .bizople-add-to-cart, .header-myaccount{
                a.nav-link{
                    color: inherit !important;
                }
            }
        }
        .snazzy-logo {
            .navbar-brand.logo{
                margin: auto !important;
                img {
                    display: unset !important;
                }
            }
        }
    }
    .bottom-header{
        .bottom_content{
            position: relative;
            @include header-navbar-dropdown;
            .navbar{
                position: unset !important;
                #top_menu {
                    .nav-item > a.nav-link {
                        padding-left: 0px !important;
                        padding-right: 40px !important;
                        position: relative;
                        transition: 0.3s;
                        // color: #1b1b1b !important;
                        color: inherit;
                        &:hover{
                            transform: translateY(-2px);
                        }
                        >span{ 
                            position: relative;
                            font-weight: 500;
                            &::after,&::before {
                                content: "";
                                width: 0px;
                                height: 2px;
                                position: absolute;
                                bottom: 0;
                                background-color: theme-color('primary');
                                transition: 0.3s;
                            }
                            &::after{
                              left: 0;
                            }
                            &::before{
                              right: 0;
                            }

                            &:focus, &:hover{
                                color: theme-color('primary') !important;
                                &::after,&::before {
                                    width: 50%;
                                }
                            }
                        }
                        &.active{
                            >span{
                                color: theme-color('primary') !important;
                            }
                        }
                    }
                }
            }
        }
        .bizople-search{
            position: relative;
                .bizople-search-results{
                    right: 0;
                }
            .o_wsale_products_searchbar_form{
                @include header-search-categ-menu;
                .search-categ{
                    #categbtn{
                        padding:0 !important;
                    }
                }
                .search-category-input-box{
                    display: flex;
                    width: 100%;
                }
                background-color: #fff;
                border-radius: 0;
                height: 40px;
                border: 1px solid #dee2e6;
                .oe_search_box{
                    border-radius: 0;
                    border: 0 !important;
                    padding: 5px 15px;
                    box-shadow: none;
                }
                .oe_search_button{
                    padding: 0 16px;
                    border: 0;
                    font-size: 16px;
                    box-shadow: none;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    i{
                        line-height: 1;
                    }
                }
                input::placeholder {
                    font-size: 14px;
                }

                .bizople-search-results.dropdown-menu{
                    right: 0;
                    min-width: 100% !important;
                    border: 0 !important;
                    box-shadow: 0 0 20px 0 rgba(0,0,0,0.15);
                    border-radius: 0 !important;
                    margin-top: 18px;
                    display: flex;
                    flex-direction: column-reverse;
                    .search-filter-show{
                        overflow: auto;
                        overflow-x: clip;
                        // max-height: 275px !important;
                    }
                    .all-result-show{
                        text-align: end !important;
                        font-size: 14px !important;
                        color: #929292 !important;
                        border-bottom: 1px solid #dee2e6;
                        &::after{
                            content: "\ea6a";
                            font-family: 'remixicon' !important;
                            font-size: 16px !important;
                            vertical-align: middle;
                            margin-left: 5px;
                        }
                    }
                    .dropdown-item:hover, .dropdown-item:focus {
                        background-color: transparent !important;
                    }
                    &::before{
                        content: " ";
                        position: absolute;
                        left: 30px;
                        top: -15px;
                        border-top: none;
                        border-right: 15px solid transparent;
                        border-left: 15px solid transparent;
                        border-bottom: 15px solid #fff;
                        box-shadow: 0 0 0px 0 rgba(0,0,0,0.15);
                    }
                } 
                .bizople-search-text{
                    transform: translateY(40px);
                }
            }
        }
    }
}

.o_header_overlay #snazzy-header5 {
	@media (max-width: 767.98px) {
	    position: unset !important;
	    z-index: unset !important;
    }
}
.o_header_is_scrolled{
	.snazzy_header_five{
        @include header-scrolled-style;
	}
}
