//Snazzy Header Three
.snazzy_header_three{
    .top-header, .middle-header, .bottom-header{
        @include dropdown-caret-mixin;
    }
	.top-header{
		.left_content{
			ul{
				li{
					span{
						margin-right: 5px;
					}
					a{
					    padding-right: 10px;
					    border-right: 1px solid #dedfe2;
					    margin-right: 10px;
					    transition: 0.2s;
					    text-decoration: none;
                        color: inherit;
					    &:hover{
					    	filter: brightness(0.9);
					    }
					    @media (max-width: 1199.98px) {
					    	border-right: 0;
					    }
					}
					&:last-child{
						a{
							border-right: 0;
						}
					}
					font-size: 13px;
				}
			}
		}
		.right_content{
            @include header-curruncy-language-option;
            .js_language_selector{
                @include header-language-flag;
                .dropdown-toggle {
                    padding-right: 10px !important;
                }
                .list-inline{
                    .js_change_lang{
                        color: inherit !important;
                        span{
                            text-transform: uppercase !important;
                            color: inherit !important;
                        }
                    }
                    .o_add_language.d-sm-inline-block.list-inline-item{
                        padding-right: 10px;
                        text-transform: uppercase !important;
                        color: inherit !important;
                    }
                }
            }
            .curruncy-selector .btn{
                line-height: 1 !important;
                border-left: 1px solid #929292;
                border-radius: 0 !important;
                padding-left: 10px !important; 
                padding-right: 0 !important;
            }
            .contact-detail{
                font-size: 13px !important;
                a{
                    color: inherit;
                }
            }
		}
	}
	.middle-header{
		.header-search{
            .bizople-search{
                position: relative;
                    .bizople-search-results{
                        right: 0;
                    }

                .o_wsale_products_searchbar_form{
                    @include header-search-categ-menu;
                    margin: 0 !important;
                    border: 1px solid #dee2e6;
                    align-items: center;
                    position: relative;
                    background-color: white;
                    .search-query-bizople{
                        padding-top: 8px !important;
                        padding-bottom: 8px !important;
                    }
                    .search-category-input-box{
                        display: flex;
                        width: 100%;
                    }
                    #categbtn{
                        padding: 0px 20px;
                        border-right: 1px solid #dedfe2;
                        border-radius: 0;
                    }
                    .oe_search_box{
                        border-radius: 0;
                        border: 0 !important;
                        padding: 5px 15px;
                        box-shadow: none;
                    }
                    .oe_search_button{
                        padding: 0 16px;
                        border: 0;
                        font-size: 16px;
                        box-shadow: none;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        i{
                            line-height: 1;
                        }
                    }
                    input::placeholder {
                        font-size: 14px;
                    }
    
                    .bizople-search-results.dropdown-menu{
                        right: 0;
                        min-width: 100% !important;
                        border: 0 !important;
                        box-shadow: 0 0 20px 0 rgba(0,0,0,0.15);
                        border-radius: 0 !important;
                        margin-top: 18px;
                        display: flex;
                        flex-direction: column-reverse;
                        .search-filter-show{
                            overflow: auto;
                            overflow-x: clip;
                            // max-height: 275px !important;
                        }
                        .all-result-show{
                            text-align: end !important;
                            font-size: 14px !important;
                            color: #929292 !important;
                            border-bottom: 1px solid #dee2e6;
                            &::after{
                                content: "\ea6a";
                                font-family: 'remixicon' !important;
                                font-size: 16px !important;
                                vertical-align: middle;
                                margin-left: 5px;
                            }
                        }
                        .dropdown-item:hover, .dropdown-item:focus {
                            background-color: transparent !important;
                        }
                        &::before{
                            content: " ";
                            position: absolute;
                            left: 30px;
                            top: -15px;
                            border-top: none;
                            border-right: 15px solid transparent;
                            border-left: 15px solid transparent;
                            border-bottom: 15px solid #fff;
                            box-shadow: 0 0 0px 0 rgba(0,0,0,0.15);
                        }
                    } 
                    .bizople-search-text{
                        transform: translateY(40px);
                    }
                }
            }
			max-width: 700px;
			width: 100%;
		}
        .wishlist, .bizople-add-to-cart, .header-myaccount{
            a.nav-link{
                color: inherit !important;
            }
        }

		.right_icons{
            @include header-icon-badge;
            @include header-wishlist-icon; 
            @include header-cart-icon; 
            @include header-user-account-info; 
            .header-myaccount{
                .dropdown-toggle{
                    padding-right: 0 !important;
                }
            }
		}
		padding: 20px 0;
        .snazzy-logo {
            .navbar-brand.logo{
                margin: auto !important;
                img {
                    display: unset !important;
                }
            }
        }
	}
	.bottom-header{
        @include header-navbar-dropdown;
        .navbar{
            position: unset !important;
            #top_menu {
                .nav-item > a.nav-link {
                    padding-left: 1rem !important;
                    padding-right: 1rem !important;
                    position: relative;
                    // color: #1b1b1b !important;
                    color: inherit;
                    >span{ 
                        position: relative;
                        font-weight: 500;
                    }
                    &.active{
                        >span{
                          color: theme-color('primary');
                        }
                    }
                }
            }
        }
		.auto_assign_categ{
			a.categ_link{
				.icofont{
					font-size: 25px;
					vertical-align: middle;
				}
			    padding: 9px 15px;
			    padding-right: 0px;
			    display: inline-block;
			    font-size: 14px;
		        text-decoration: none !important;
				transition: 0.2s;
                color: inherit;
				&:hover{
					transform: translateY(-2px);
				}
			}
		}

		.product-category{
            height: 50px;
			font-weight: 500;
    		line-height: 50px;
    		width: 100%;
            background-color: theme-color('primary');
            a.dropdown-toggle {
                padding: 0 16px;
                outline: 0;
                color: #fff !important;
                font-size: 16px;
            }
            .snazzy-header3-category{
                .nav-link{
                    line-height: 31px;
                    border: 1px solid #F2F3F4;
                    padding: 9px 18px;
                    min-height: 50px;
                    text-align: left;
                    transition: 0.3s;
                    color: #121212;
                    display: flex;
                    align-items: center;
                    font-size: 14px !important;
    
                    .cat-image img{
                        max-width: 30px;
                        height: 30px;
                        object-fit: contain;
                    }
                    .cat-name{
                        white-space: normal;
                        line-height: 20px;
                    }
                    &:hover{
                        border: 1px solid;
                        border-color: rgba(theme-color('primary'),0.5);
                        box-shadow: 5px 5px 15px rgba(0,0,0,0.05);
                        color: theme-color('primary');
                    }
                }
                padding: 30px 22.5px 15px;
                min-width: 475px;
                border: 1px solid;
                border-color: rgba(theme-color('primary'),0.5);
                border-radius: 0px;
            }
		}
		padding: 0;
	    border-top: 1px solid #ececec;
	    border-bottom: 1px solid #ececec;
	}
    
	/* mega menu alignment */
	.bottom-header{
		.row.align-items-center {
			.col-md-8{
				#bizople-header-eleven{
					#top_menu{
						.o_mega_menu{
							a.nav-link{
							    line-height: 30px;
							    border: 0;
					        	color: inherit;
							}
						}
					}
				    position: unset;
				}
				position: unset;
			}
		    position: relative;
		}
	}
	/* mega menu alignment end */

	.o_extra_menu_items{
        .dropdown-toggle{
			color: #121212;
		}
		&.show{
			.dropdown-menu{
			    opacity: 1 !important;
    			visibility: visible !important;
    			margin-top: 0 !important;
			}
            .dropdown-toggle {
                .fa{
                    transform: rotate(180deg) !important;
                }
            }
		}
	}
	.o_extra_menu_items > .dropdown-toggle > .fa{
		font-size: 12px;
	    font-family: 'remixicon' !important;
	    vertical-align: middle;
	    transition: 0.2s;
		&:before{
			content: "\ea4c";
		    margin: 0.255em;
		}
	}
}

.o_header_is_scrolled{
	.snazzy_header_three{
        @include header-scrolled-style;
	}
}

.o_header_overlay .snazzy_header_three {
	@media (max-width: 767.98px) {
	    position: unset !important;
	    z-index: unset !important;
    }
}