//Snazzy Header Six
.snazzy_header_six{
    .top-header, .middle-header, .bottom-header{
        @include dropdown-caret-mixin;
    }
    .top-header{
        border-bottom: 1px solid #dee2e6;
        @include header-curruncy-language-option;
        .js_language_selector{
            @include header-language-flag;
            .dropdown-toggle {
                padding-right: 10px !important;
            }
            .list-inline{
                .js_change_lang{
                    color: inherit !important;
                    span{
                        text-transform: uppercase !important;
                        color: inherit !important;
                    }
                }
                .o_add_language.d-sm-inline-block.list-inline-item{
                    padding-right: 10px;
                    text-transform: uppercase !important;
                    color: inherit !important;
                }
            }
        }
        .curruncy-selector .btn{
            line-height: 1 !important;
            border-left: 1px solid #929292;
            border-radius: 0 !important;
            padding-left: 10px !important; 
            padding-right: 0 !important;
        }
        .user-contact{
            a.btn-link{
                color: inherit;
            }
        }
    }
    .middle-header{
        .bottom_content{
            position: relative;
            @include header-navbar-dropdown;
            .navbar{
                position: unset !important;
                #top_menu {
                    .nav-item > a.nav-link {
                        padding-left: 20px !important;
                        padding-right: 20px !important;
                        position: relative;
                        // color: #1b1b1b !important;
                        color: inherit;
                        >span{ 
                            position: relative;
                            font-weight: 500;
	                        transition: color .3s ease-in-out;
                            &::before {
                                content: '';
                                position: absolute;
                                top: 100%;
                                width: 100%;
                                height: 3px;
                                background-color: theme-color('primary');
                                transform: scaleX(0);
                                transition: transform .3s ease-in-out;
                            }
                    
                            &:hover {
                                color: theme-color('primary') !important;
                                &::before {
                                    transform: scaleX(1);
                                }
                            }
                        }
                        &.active{
                            >span{
                                color: theme-color('primary') !important;
                                border-bottom: 3px solid theme-color('primary');
                                
                                &::before {
                                  content: unset !important;
                                }
                            }
                        }
                    }
                }
            }
        }
        .header_right{
            @include header-icon-badge;
            @include header-wishlist-icon; 
            @include header-cart-icon; 
            @include header-user-account-info; 
            .header-myaccount{
                .dropdown-toggle{
                    padding-right: 0 !important;
                }
            }
            .header-search{
                span{
                   font-size: 20px !important;
                }
                .input-group.open-popup{
                    .oe_search_button{
                        font-size: 16px !important;
                        line-height: 20px !important;
                    }
                }
            }
            .header-search, .wishlist, .bizople-add-to-cart, .header-myaccount{
                a.nav-link{
                    color: inherit !important;
                }
            }
        }
        .snazzy-logo {
            .navbar-brand.logo{
                margin: auto !important;
                img {
                    display: unset !important;
                }
            }
        }
    }
}

.o_header_overlay #snazzy-header6 {
	@media (max-width: 767.98px) {
	    position: unset !important;
	    z-index: unset !important;
    }
}
.o_header_is_scrolled{
	.snazzy_header_six{
        box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.08);
        @media (min-width: 768px){
            .top-header{
                display: none !important;
            }
            .middle-header{ 
                padding: 16px !important;
            }
        }
	}
}
