// mobile bottom bar 
.bizople-mbl-bottom-bar {
    position: fixed;
    bottom: 0;
    z-index: 13;
    padding: 10px 0 10px;
    transition: 0.3s;
    transform: translateY(85px);
    border-radius: 35px;
	left: 15px;
    width: calc(100% - 30px);

	.lnr, .icon, .ti, .ri{
		font-size: 24px;
        display: flex;
        align-items: center;
        vertical-align: middle;
        color: #fff !important;
		@media (width: 320px) {
	    	font-size: 14px;
	    }
	}

	a.nav-link ,button.nav-link{
		outline: none !important;
		box-shadow: none !important;
		text-align : center !important;
        position: relative;
	    padding: 0 !important;
	    display: inline-block;
	}

	.badge-primary {
   	    position: absolute;
	    top: -5px;
	    right: -9px;
	    width: 15px;
	    height: 15px;
	    line-height: 15px;
	    font-size: 10px;
	    border-radius: 50%;
	    padding: 0;
	}
	.bizople-acc-user{
		.dropdown-menu{
		    top: unset !important;
		    bottom: 50px !important;
		    left:unset !important;
			right: 0;
		    margin: 0;
		    border-radius: 0;
		    transform: unset !important;
		}
	}
	.bizople-acc-user{
		.dropdown-toggle::after{
		  display: none;
		}
	}
    &.show-bottom-bar:not(.extra-menu-bar){
        transform: translateY(-16px);
    }
    .bizople-add-to-cart li a i:before{
        content: "\f07e" !important;
        font-family: 'remixicon' !important;
        vertical-align: middle;
        font-size: 24px;
        color: #fff !important;
    }
    a.nav-link{
        sup{
            position: absolute;
            top: -5px;
            right: -9px;
            width: 15px;
            height: 15px;
            line-height: 15px;
            font-size: 10px;
            border-radius: 50%;
            padding: 0;
            
        }
        position: relative;
    }
	.header-myaccount{
        padding-right: 0 !important; 
        .dropdown-menu.show{
            border: 0 !important;
            box-shadow: 0 0 20px 0 rgba(0,0,0,0.15);
            border-radius: 0 !important;
            padding: 16px !important;
            .user-name-title{
                border-bottom: 1px solid #ececec !important;
            }
            .dropdown-item{
                background-color: transparent !important;
                color: #929292 !important;
                border-bottom: 1px solid #ececec !important;
                text-decoration: none !important;
                padding: 5px 0 !important;
                text-align: left !important;
                &.active{
                    color: theme-color('primary') !important; 
                }
                &:hover{
                    color: theme-color('primary') !important; 
                }
                span{
                  text-transform: uppercase;
                  text-decoration: none;
                }
            }
        }
    }
	
}


