#footer_theme_common1{
     background-color: #f7f7f7;
    .top-footer{
        .footer-links{
            h6{
                font-weight: 500;
                text-transform: uppercase;
            }
        }
        .block-footer{
            .title-block-footer{
                .content-title{
                    font-weight: 600 !important;
                    margin-bottom: 20px;
                }
            }
            .content-block-footer{
                .contact-list{
                  padding-left: 0 !important;
                   li{
                    margin-bottom: 20px;
                   } 
                }
                
            }
        }
    }
}
.footer1_copyright{
    background-color: #f7f7f7;
}

#footer_theme_common3{
    background-color: #002739;
    .middle-footer{
        .block-footer{
            .content-block-footer{
                .contact-list{
                  padding-left: 0 !important;
                   li{
                    margin-bottom: 20px;
                    color: inherit !important;
                   } 
                }
                
            }
        }
    }
    .subscribe-content{
        .block-subscribe {
            .js_subscribe_email{
                border-radius: 25px !important;
                border: 0;
                height: 40px;
                margin-right: 25px;
                padding-left: 22px;
            }
            .input-group-append a{
                border-radius: 25px !important; 
                height: 40px !important;
            }
        }
    }
}
.footer3_copyright{
    background-color: #002739;
}

#footer_theme_common4{
    background-color: #f7f7f7;
    .block-subscribe-footer{
        input.js_subscribe_email.form-control{
            border: 0;
            border-bottom: 1px solid;
            border-radius: 0;
            padding: 10px 0;
            height: unset;
            font-size: 14px;
            margin-right: 30px;
            background-color: transparent !important;
            color: inherit !important;
            border-color: inherit;
            &::placeholder{
                color: inherit !important;
            }
        }
        .input-group-append{
            .btn{
                padding: 10px 0;
                background-color: transparent;
                border-color: transparent;
                color: inherit;
                transition: 0.2s;
                font-size: 14px;
                border: none;
                border-bottom: 1px solid;
                border-color: inherit !important;
                border-radius: 0;
            }
        }
    }

    .social-share{
        a {
            display: block;
            width: 35px;
            height: 35px;
            text-align: center;
            line-height: 35px;
            font-size: 20px;
            background-color: #fff;
            i{
                color: #1b1b1b;
            }
        }
    }
}
.footer4_copyright{
    background-color: #f7f7f7;
}

#footer_theme_common5{
    background-color: theme-color('primary');
    .subscribe-btn{
        border-top: 1px solid #fff !important;
        .input-group{
            background-color: #fff !important;
            border-radius: 5px !important;
            height: 45px;
            .js_subscribe_email{
                width: 100%;
                border: 0 !important;
                height: 45px !important;
            }
            .input-group-append a{
                height: 45px !important;
                line-height: 35px !important;
                border-radius: 0px !important;
                background-color: transparent;
                color: inherit !important;
                border: 0 !important;
            }
        }
    }
}

.footer5_copyright{
    background-color: theme-color('primary');
}

#footer_theme_common8{
    background-color: #f0f0f0 ;
    .social-share{
        a.link{
            font-size: 18px;
            margin-right: 27px;
            text-decoration: none;
        }
    }
    .subscribe-content{
        .user-content{
            border-bottom: 1px solid #1b1b1b;
        }
        .block-subscribe {
            .js_subscribe_email{
                display: table-cell;
                vertical-align: top;
                width: 100%;
                height: 48px !important;
                border-radius: 0 !important;
                background-color: transparent !important;
                color: inherit !important;
            }
            .input-group-append a{
                display: table-cell;
                vertical-align: top;
                height: 48px !important;
                line-height: 35px !important;
                border-radius: 0 !important;
    
            }
        }
    }
   
    .middle-footer{
    	.label{
    		text-transform: uppercase;
		    font-weight: 700;
		    font-size: 14px;
		    line-height: 1.66;
    	}
        ul{
            padding-left: 0 !important;
            li {
                margin: 10px 0;
                list-style: none !important;
            }
            li span {
                font-weight: 700;
                text-transform: uppercase;
                font-size: 14px;
                line-height: 1.66;
            }
            a{
                font-size: 14px;
                line-height: 1.66;
                color: inherit !important;
            }
            a:visited {
                color: inherit !important;
            }
        }
    	
	}
}

.footer8_copyright{
    background-color: theme-color('primary');
}


#footer_theme_common9{
    background-color: #041e3a;
    .social-share{
        a.link{
            font-size: 18px;
            margin-right: 27px;
            text-decoration: none;
        }
    }
    .footer-links{
        .title-content{
            color: #FFC221 !important;
        }
    }
    .middle-footer{
    	padding: 65px 0;

    	.label{
    		text-transform: uppercase;
		    font-weight: 700;
		    font-size: 14px;
		    line-height: 1.66;
    	}
    	li {
		    margin: 15px 0;
		}
		li span {
		    font-weight: 700;
		    text-transform: uppercase;
		    font-size: 14px;
		    line-height: 1.66;
		}
		a{
			font-size: 14px;
		    line-height: 1.66;
		    color: inherit !important;
		}
		a:visited {
		    color: inherit !important;
		}
		a:hover{
			color: theme-color('primary') !important;
		    text-decoration: none !important;
		}
	}
    .bottom-footer{
        .brand-border-style{
            border-top: 1px solid !important;
            border-bottom: 1px solid !important;
            border-color: #686666 !important;
        }
    }
   
}
#footer_theme_common6{
    background-color: #f7f7f7;
   
    .block-subscribe-footer{
        input.js_subscribe_email.form-control{
            border: 0;
            border-bottom: 1px solid #121212;
            border-radius: 0;
            padding: 10px 0;
            height: unset;
            font-size: 16px;
            background-color: transparent !important;
            color: inherit !important;
            border-color: inherit;
            &::placeholder{
                color: inherit !important;
            }
        }
        .input-group-append{
            .btn{
                padding: 10px 0;
                background-color: transparent;
                border-color: transparent;
                color: inherit !important;
                transition: 0.2s;
                font-size: 16px;
                border-bottom: 1px solid;
                color: inherit !important;
                border-radius: 0;
            }
        }
    }
}
.footer6_copyright{
    background-color: #f7f7f7;
}
#footer_theme_common7{
    background-color: #f0f0f0;
    .content-block-footer{
        .contact-list{
          padding-left: 0 !important;
           li{
            margin-bottom: 20px;
           } 
        }
    }
    .bottom-footer .bottom-content{
        border-top: 1px solid #1b1b1b;
        border-bottom: 1px solid #1b1b1b;
    }
    .block-subscribe {
		.js_subscribe_email{
			display: table-cell;
		    vertical-align: top;
		    width: 100%;
            border-radius: 5px 0px 0px 5px !important;
		    height: 48px !important;
		}
		.input-group-append a{
			display: table-cell;
    		vertical-align: top;
    		height: 48px !important;
		    line-height: 34px !important;
            border-radius: 0px 5px 5px 0px !important;

		}
	}
    @media (max-width: 991.98px) {
        .social-share{
            justify-content: center !important;
            margin-top: 10px !important;
        }
    }
}



.copyright-section{
    .social-share{
        a.link{
            font-size: 18px;
            margin-right: 27px;
        }
    }
}
